.clearfix
footer
  .container
    .row
      .container-fluid
        .row
          // LEFT
          .col-md-9
            .inner.clearfix
              .row
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | ขาย
                  ul.list-unstyled
                    li
                      a(href="#",title="") บ้านเดี่ยว
                    li
                      a(href="#",title="") ทาวน์เฮ้าส์
                    li
                      a(href="#",title="") ทาวน์โฮม
                    li
                      a(href="#",title="") บ้านแฝด
                    li
                      a(href="#",title="") อาคารพาณิชย์
                    li
                      a(href="#",title="") คอนโดมิเนี่ยม
                    li
                      a(href="#",title="") อพาร์ทเม้นท์
                    li
                      a(href="#",title="") ที่ดิน
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | เช่า
                  ul.list-unstyled
                    li
                      a(href="#",title="") บ้านเดี่ยว
                    li
                      a(href="#",title="") ทาวน์เฮ้าส์
                    li
                      a(href="#",title="") ทาวน์โฮม
                    li
                      a(href="#",title="") บ้านแฝด
                    li
                      a(href="#",title="") อาคารพาณิชย์
                    li
                      a(href="#",title="") คอนโดมิเนี่ยม
                    li
                      a(href="#",title="") อพาร์ทเม้นท์
                    li
                      a(href="#",title="") ที่ดิน
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | ขายดาวน์
                  ul.list-unstyled
                    li
                      a(href="#",title="") บ้านเดี่ยว
                    li
                      a(href="#",title="") ทาวน์เฮ้าส์
                    li
                      a(href="#",title="") ทาวน์โฮม
                    li
                      a(href="#",title="") บ้านแฝด
                    li
                      a(href="#",title="") อาคารพาณิชย์
                    li
                      a(href="#",title="") คอนโดมิเนี่ยม
                    li
                      a(href="#",title="") อพาร์ทเม้นท์
                    li
                      a(href="#",title="") ที่ดิน
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | จำนอง
                  ul.list-unstyled
                    li
                      a(href="#",title="") บ้านเดี่ยว
                    li
                      a(href="#",title="") ทาวน์เฮ้าส์
                    li
                      a(href="#",title="") ทาวน์โฮม
                    li
                      a(href="#",title="") บ้านแฝด
                    li
                      a(href="#",title="") อาคารพาณิชย์
                    li
                      a(href="#",title="") คอนโดมิเนี่ยม
                    li
                      a(href="#",title="") อพาร์ทเม้นท์
                    li
                      a(href="#",title="") ที่ดิน
                // END COL
              // END ROW
            // END INNER
            .inner.clearfix
              .row
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | อบรมนายหน้า
                  ul.list-unstyled
                    li
                      a(href="#",title="") คอร์สอบรม
                    li
                      a(href="#",title="") วิธีการสมัคร
                    li
                      a(href="#",title="") วิธีการชำระเงิน
                    li
                      a(href="#",title="") ประมวลภาพอบรม
                    li
                      a(href="#",title="") ปฏิทินการอบรม
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | สถาบันการเงิน
                  ul.list-unstyled
                    li
                      a(href="#",title="") ธนาคากสิกรไทย
                    li
                      a(href="#",title="") ธนาคากรุงไทย
                    li
                      a(href="#",title="") ธนาคาออมสิน
                    li
                      a(href="#",title="") ธนาคาธนชาติ
                    li
                      a(href="#",title="") ธนาคาไทยพาณิชย์
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | ทีมนักขาย
                  ul.list-unstyled
                    li
                      a(href="#",title="") สำนักงานใหญ่
                    li
                      a(href="#",title="") ภาคกลาง
                    li
                      a(href="#",title="") ภาคเหนือ
                    li
                      a(href="#",title="") ภาคตะวันตก
                    li
                      a(href="#",title="") ภาคตะวันออก
                    li
                      a(href="#",title="") ภาคตะวันออกเฉียงเหนือ
                    li
                      a(href="#",title="") ภาคใต้
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | การตลาด
                  ul.list-unstyled
                    li
                      a(href="#",title="") หลักการตลาด
                    li
                      a(href="#",title="") เอโอเอล เป้าหมาย
                // END COL
              // END ROW
            // END INNER

          // RIGHT
          .col-md-3
            .inner.clearfix
              .wrapper_enewsletter
                h5
                  | รับข่าวสารและสิทธิพิเศษจากเรา
                form.form-inline
                  .input-group
                    input.form-control(type='text', placeholder='กรอกอีเมลของท่าน...')
                    span.input-group-btn
                      button.btn.btn-main(type='button') ตกลง
                    // /input-group

              .wrapper_contactus
                h5
                  | ติดต่อ บริษัท AOL PROPERTY จำกัด
                .contact-info
                  .media
                    .media-left
                      span.glyphicon.glyphicon-home
                    .media-body
                      | No 395, Welington Road, Newyork, USA
                  .media
                    .media-left
                      span.glyphicon.glyphicon-earphone
                    .media-body
                      | (123) 456 0789
                  .media
                    .media-left
                      span.glyphicon.glyphicon-print
                    .media-body
                      | (123) 456 0789
                  .media
                    .media-left
                      span.glyphicon.glyphicon-envelope
                    .media-body
                      | sales@yourcompany.com
              ul.social.list-inline
                li
                  a(href='#', title='fb')
                    i.fa.fa-facebook
                li
                  a(href='#', title='Tw')
                    i.fa.fa-twitter
                li
                  a(href='#', title='G+')
                    i.fa.fa-google-plus
                li
                  a(href='#', title='In')
                    i.fa.fa-linkedin
                li
                  a(href='#', title='p')
                    i.fa.fa-youtube-play
.copyright
  .container
    .row
      .container-fluid
        p
          | สงวนลิขสิทธิ์ © 2017 AOL PROPERTY CO.,LTD.
