.well.well_header
  .container
    .row
      .col-md-12
        form.form.wrapper_search(method="post", action="")
          .row
            .col-md-4
              .form-group
                input#keyword.form-control(type='text', name="", placeholder='ค้นหาจากทำเล หรือคำที่เกี่ยวข้อง..')
            .col-md-2
              .form-group
                select.form-control(name="", id="")
                  option(value="") ประเภทการขาย
                  option(value="") ขาย
                  option(value="") เช่า
            .col-md-2
              .form-group
                select.form-control(name="", id="")
                  option(value="") ประเภทอสังหาริมทรัพย์
                  option(value="") คอนโดมิเนี่ยม
                  option(value="") ที่ดิน
            .col-md-2
              .form-group
                select.form-control(name="", id="")
                  option(value="") ราคาเริ่มต้น
                  option(value="499999") ต่ำกว่า 500,000
                  option(value='500000') 500,000
                  option(value='1000000') 1,000,000
                  option(value='1500000') 1,500,000
                  option(value='2000000') 2,000,000
                  option(value='2500000') 2,500,000
                  option(value='3000000') 3,000,000
                  option(value='3500000') 3,500,000
                  option(value='4000000') 4,000,000
                  option(value='4500000') 4,500,000
                  option(value='5000000') 5,000,000
                  option(value='5500000') 5,500,000
            .col-md-2
              .form-group
                select.form-control(name="", id="")
                  option(value="") ราคาสูงสุด
                  option(value='6000000') 6,000,000
                  option(value='6500000') 6,500,000
                  option(value='7000000') 7,000,000
                  option(value='7500000') 7,500,000
                  option(value='8000000') 8,000,000
                  option(value='8500000') 8,500,000
                  option(value='9000000') 9,000,000
                  option(value='9500000') 9,500,000
                  option(value='10000000') 10,000,000
                  option(value='10000001') ตั้งแต่ 10,000,000 ขึ้นไป
          //END ROW

          .clearfix
          .row.row-bottom
            .col-md-4
              .form-group
                select.form-control(name="", id="")
                  option(value="") จังหวัด
                  option(value="") กรุงเทพมหานคร
                  option(value="") กระบี่
                  option(value="") ขอนแก่น
            .col-md-2
              .form-group
                select.form-control(name="", id="")
                  option(value="") อำเภอ
                  option(value="") เขตพระนคร
                  option(value="") เขตดุสิต
                  option(value="") เขตหนองจอก
            .col-md-2
              .form-group
                select.form-control(name="", id="")
                  option(value="") ประเภทห้องนอน
                  option(value="") ห้อง Studio
                  option(value="") 1 ห้องนอน
                  option(value="") 2 ห้องนอน
                  option(value="") 3 ห้องนอน
                  option(value="") ห้อง Penthouse
            .col-md-2
              .form-group
                select.form-control(name="", id="")
                  option(value="") ขนาดห้องนอน
                  option(value='1') ต่ำกว่า 25 ตร.ม.
                  option(value='2') 26 - 50 ตร.ม.
                  option(value='3') 51 - 75 ตร.ม.
                  option(value='4') 76 - 100 ตร.ม.
                  option(value='5') 101 - 125 คร.ม.
                  option(value='6') 126 - 150 ตร.ม.
                  option(value='7') 151 - 175 ตร.ม.
                  option(value='8') 176 - 200 ตร.ม.
                  option(value='9') 201 ตร.ม.ขึ้นไป
            .col-md-2
              .form-group
                input(type="hidden", name="action")
                button.btn.btn-main.btn-block(type='submit',name='search') ค้นหา
