script(src='../../template/assets/js/jquery.min.js')
script(src='../../template/assets/js/bootstrap.min.js')
script(src='../../template/assets/js/megamenu.js')
script(src='../../template/assets/js/search.js')
script(src='../../template/assets/js/slippry.min.js')
script(src='../../template/assets/js/slick.min.js')
script(src='../../template/assets/js/validator.min.js')
script(src='../../template/assets/js/application.js')
