doctype html
html(lang="th")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")  
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    title AOL PROPERTY
    link(rel = 'stylesheet' href = '../../template/assets/css/bootstrap.min.css')
    link(rel = 'stylesheet' href = '../../template/assets/css/bootstrap-theme.min.css')
    link(rel = 'stylesheet' href = '../../template/assets/css/font-awesome.min.css')
    link(rel = 'stylesheet' href = '../../template/assets/css/styles.css')
