header
	.container
		nav.navbar(role="navigation")

			.navbar-header
				button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
					span.sr-only
						| Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="index.html")
					img.img-responsive(src='../../template/assets/images/AOL-PRPPERTY-logo.png', alt='')

			#navbar.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-left
					li.active
						a(href="property.html") ขาย
					li
						a(href="property.html") เช่า
					li
						a(href="property.html") ขายดาวน์
					li
						a(href="project.html") โครงการใหม่
					li
						a(href="news.html") ข่าว
					li
						a(href="board.html") บอร์ดประกาศ

				ul.nav.navbar-nav.navbar-right
					li
						a(href="login.html") เข้าสู่ระบบ
					li
						a(href="register.html") สมัครสมาชิก
					li
						a(href="wishlist.html") 0&nbsp;
							i.fa.fa-heart
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false") EN
							span.caret
						ul.dropdown-menu
							li
								a(href="#") EN
							li
								a(href="#") TH
				form.navbar-form(role="search")
					.input-group
						input(type="text", class="form-control", placeholder="Search")
						span.input-group-btn
							button(type="reset" class="btn btn-link")
								span.glyphicon.glyphicon-remove
									span.sr-only Close
							button(type="submit" class="btn btn-link")
								span.glyphicon.glyphicon-search
									span.sr-only Search
