.clearfix
.container.wrapper_pagination
  .row
    .container-fluid
      section.row
        .col-sm-offset-2.col-sm-8.col-md-offset-4.col-md-4
          nav(aria-label='Page navigation')
            ul.pagination
              li
                a(href='#', aria-label='Previous')
                  i.fa.fa-angle-left(aria-hidden='true')
              li
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#', aria-label='Next')
                  i.fa.fa-angle-right(aria-hidden='true')
//END CONTENT
