.col-xs-12.col-sm-4.col-md-3
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
            i.fa.fa-address-card-o
            | &nbsp;โปรไฟล์
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          table.table
            tr
              td
                a(href='profile.html')
                  i.fa.fa-vcard-o
                  | &nbsp;ข้อมูลสมาชิก
            tr
              td
                a(href='forgotpassword.html')
                  i.fa.fa-key
                  | &nbsp;แก้ไขรหัสผ่าน
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
            i.fa.fa-building-o
            | &nbsp;รายการทรัพย์
      #collapseTwo.panel-collapse.collapse
        .panel-body
          table.table
            tr
              td
                a(href='list-land.html')
                  i.fa.fa-circle-o
                  | &nbsp;ประกาศทรัพย์

    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
            i.fa.fa-hotel
            | &nbsp;รายการคอนโดมิเนี่ยม
      #collapseThree.panel-collapse.collapse
        .panel-body
          table.table
            tr
              td
                a(href='list-condominium.html')
                  i.fa.fa-circle-o
                  | &nbsp;ประกาศคอนโดมิเนี่ยม
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
            i.fa.fa-heart-o
            | &nbsp;รายการที่สนใจ
      #collapseFour.panel-collapse.collapse
        .panel-body
          table.table
            tr
              td
                a(href='list-land.html')
                  i.fa.fa-circle-o
                  | &nbsp;ประกาศทรัพย์
            tr
              td
                a(href='list-condominium.html')
                  i.fa.fa-circle-o
                  | &nbsp;ประกาศคอนโดมิเนี่ยม

    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='#accordion', href='#collapseFive')
            i.fa.fa-graduation-cap
            | &nbsp;อีเมล์ถามกูรู
      #collapseFive.panel-collapse.collapse
        .panel-body
          table.table
            tr
              td
                a(href='list-guru.html')
                  i.fa.fa-circle-o
                  | &nbsp;ประวัติการตั้งคำถาม
            tr
              td
                a(href='list-guru.html')
                  i.fa.fa-circle-o
                  | &nbsp;ประวัติที่เก็บไว้
