
<script src="../../template/assets/js/jquery.min.js"></script>
<script src="../../template/assets/js/bootstrap.min.js"></script>
<script src="../../template/assets/js/megamenu.js"></script>
<script src="../../template/assets/js/search.js"></script>
<script src="../../template/assets/js/slippry.min.js"></script>
<script src="../../template/assets/js/slick.min.js"></script>
<script src="../../template/assets/js/app.js"></script>
<!-- SLIPPRY SLIDER-->
<script>
  $(document).ready(function(){
    var demo1 = $("#slider").slippry({
    // transition: 'fade',
    // useCSS: true,
    // speed: 1000,
    // pause: 3000,
    // auto: true,
    // preload: 'visible',
    // autoHover: false
    });
  });
  
</script>
<!-- SLICK CAROUSEL-->
<script>
  $(document).ready(function(){
    $(".highlight-carousel").slick({
      dots: false,
      infinite: true,
      centerPadding: '10px',
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      centerMode: true,
      //variableWidth: true,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
          }
        },
        {
          breakpoint: 762,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
    $(".video-carousel").slick({
      dots: false,
      infinite: true,
      centerPadding: '10px',
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 3,
      centerMode: true,
      //variableWidth: true,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
          }
        },
        {
          breakpoint: 762,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
  });
</script>