
<script src="../../template/assets/js/jquery.min.js"></script>
<script src="../../template/assets/js/bootstrap.min.js"></script>
<script src="../../template/assets/js/megamenu.js"></script>
<script src="../../template/assets/js/search.js"></script>
<script src="../../template/assets/js/slippry.min.js"></script>
<script src="../../template/assets/js/slick.min.js"></script>
<script src="../../template/assets/js/validator.min.js"></script>
<script src="../../template/assets/js/application.js"></script>