
<header>
  <div class="container">
    <nav role="navigation" class="navbar">
      <div class="navbar-header">
        <button data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand"><img src="../../template/assets/images/AOL-PRPPERTY-logo.png" alt="" class="img-responsive"/></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="property.html">ขาย</a></li>
          <li><a href="property.html">เช่า</a></li>
          <li><a href="property.html">ขายดาวน์</a></li>
          <li><a href="project.html">โครงการใหม่</a></li>
          <li><a href="news.html">ข่าว</a></li>
          <li><a href="board.html">บอร์ดประกาศ</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="login.html">เข้าสู่ระบบ</a></li>
          <li><a href="register.html">สมัครสมาชิก</a></li>
          <li><a href="wishlist.html">0&nbsp;<i class="fa fa-heart"></i></a></li>
          <li class="dropdown"><a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">EN<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">EN</a></li>
              <li><a href="#">TH</a></li>
            </ul>
          </li>
        </ul>
        <form role="search" class="navbar-form">
          <div class="input-group">
            <input type="text" placeholder="Search" class="form-control"/><span class="input-group-btn">
              <button type="reset" class="btn btn-link"><span class="glyphicon glyphicon-remove"><span class="sr-only">Close</span></span></button>
              <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-search"><span class="sr-only">Search</span></span></button></span>
          </div>
        </form>
      </div>
    </nav>
  </div>
</header>