
<div class="clearfix"></div>
<div class="container wrapper_pagination">
  <div class="row">
    <div class="container-fluid">
      <section class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li><a href="#" aria-label="Previous"><i aria-hidden="true" class="fa fa-angle-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#" aria-label="Next"><i aria-hidden="true" class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav>
        </div>
      </section>
    </div>
  </div>
</div>
<!--END CONTENT-->