
<div class="col-xs-12 col-sm-4 col-md-3">
  <div id="accordion" class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-address-card-o"></i>&nbsp;โปรไฟล์</a></h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td><a href="profile.html"><i class="fa fa-vcard-o"></i>&nbsp;ข้อมูลสมาชิก</a></td>
            </tr>
            <tr>
              <td><a href="forgotpassword.html"><i class="fa fa-key"></i>&nbsp;แก้ไขรหัสผ่าน</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-building-o"></i>&nbsp;รายการทรัพย์</a></h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td><a href="list-land.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศทรัพย์</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-hotel"></i>&nbsp;รายการคอนโดมิเนี่ยม</a></h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td><a href="list-condominium.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศคอนโดมิเนี่ยม</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="fa fa-heart-o"></i>&nbsp;รายการที่สนใจ</a></h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td><a href="list-land.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศทรัพย์</a></td>
            </tr>
            <tr>
              <td><a href="list-condominium.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศคอนโดมิเนี่ยม</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><i class="fa fa-graduation-cap"></i>&nbsp;อีเมล์ถามกูรู</a></h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td><a href="list-guru.html"><i class="fa fa-circle-o"></i>&nbsp;ประวัติการตั้งคำถาม</a></td>
            </tr>
            <tr>
              <td><a href="list-guru.html"><i class="fa fa-circle-o"></i>&nbsp;ประวัติที่เก็บไว้</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>