
<section>
  <article class="relative">
    <ul id="slider">
      <li><a href="#slide1"><img src="../../template/assets/images/Banner-AOL-home-1.jpg"/></a></li>
      <li><a href="#slide2"><img src="../../template/assets/images/Banner-AOL-home-2.jpg"/></a></li>
    </ul>
    <div class="panel-search">
      <div class="container">
        <h3> AOL PROPERTY SMART SEARCH</h3>
        <div class="row">
          <div class="col-md-12">
            <form method="post" action="" class="form wrapper_search">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input id="keyword" type="text" name="" placeholder="ค้นหาจากทำเล หรือคำที่เกี่ยวข้อง.." class="form-control"/>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทการขาย</option>
                      <option value="">ขาย</option>
                      <option value="">เช่า</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทอสังหาริมทรัพย์</option>
                      <option value="">คอนโดมิเนี่ยม</option>
                      <option value="">ที่ดิน</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ราคาเริ่มต้น</option>
                      <option value="499999">ต่ำกว่า 500,000</option>
                      <option value="500000">500,000</option>
                      <option value="1000000">1,000,000</option>
                      <option value="1500000">1,500,000</option>
                      <option value="2000000">2,000,000</option>
                      <option value="2500000">2,500,000</option>
                      <option value="3000000">3,000,000</option>
                      <option value="3500000">3,500,000</option>
                      <option value="4000000">4,000,000</option>
                      <option value="4500000">4,500,000</option>
                      <option value="5000000">5,000,000</option>
                      <option value="5500000">5,500,000</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ราคาสูงสุด</option>
                      <option value="6000000">6,000,000</option>
                      <option value="6500000">6,500,000</option>
                      <option value="7000000">7,000,000</option>
                      <option value="7500000">7,500,000</option>
                      <option value="8000000">8,000,000</option>
                      <option value="8500000">8,500,000</option>
                      <option value="9000000">9,000,000</option>
                      <option value="9500000">9,500,000</option>
                      <option value="10000000">10,000,000</option>
                      <option value="10000001">ตั้งแต่ 10,000,000 ขึ้นไป</option>
                    </select>
                  </div>
                </div>
              </div>
              <!--END ROW-->
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">จังหวัด</option>
                      <option value="">กรุงเทพมหานคร</option>
                      <option value="">กระบี่</option>
                      <option value="">ขอนแก่น</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">อำเภอ</option>
                      <option value="">เขตพระนคร</option>
                      <option value="">เขตดุสิต</option>
                      <option value="">เขตหนองจอก</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทห้องนอน</option>
                      <option value="">ห้อง Studio</option>
                      <option value="">1 ห้องนอน</option>
                      <option value="">2 ห้องนอน</option>
                      <option value="">3 ห้องนอน</option>
                      <option value="">ห้อง Penthouse</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ขนาดห้องนอน</option>
                      <option value="1">ต่ำกว่า 25 ตร.ม.</option>
                      <option value="2">26 - 50 ตร.ม.</option>
                      <option value="3">51 - 75 ตร.ม.</option>
                      <option value="4">76 - 100 ตร.ม.</option>
                      <option value="5">101 - 125 คร.ม.</option>
                      <option value="6">126 - 150 ตร.ม.</option>
                      <option value="7">151 - 175 ตร.ม.</option>
                      <option value="8">176 - 200 ตร.ม.</option>
                      <option value="9">201 ตร.ม.ขึ้นไป</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <input type="hidden" name="action"/>
                    <button type="submit" name="search" class="btn btn-main btn-block">ค้นหา</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>