/** The Magic **/

.btn-breadcrumb .btn {

}

/** The Magic **/

.btn-breadcrumb .btn {
  background-image: none;
  box-shadow: none;
  &:not(:last-child) {
    &:after {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-left: 10px solid white;
      position: absolute;
      top: 50%;
      margin-top: -17px;
      left: 100%;
      z-index: 3;
    }
    &:before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-left: 10px solid rgb(173, 173, 173);
      position: absolute;
      top: 50%;
      margin-top: -17px;
      margin-left: 1px;
      left: 100%;
      z-index: 3;
    }
  }
  padding: 6px 12px 6px 24px;
  &:first-child {
    padding: 6px 6px 6px 10px;
    margin-right: 1px;
  }
  &:last-child {
    padding: 6px 18px 6px 24px;
    margin-left: 0px;
  }
  &.btn-default {
    &:not(:last-child) {
      &:after {
        border-left: 10px solid #fff;
      }
      &:before {
        border-left: 10px solid #ccc;
      }
    }
    &:hover:not(:last-child) {
      &:after {
        border-left: 10px solid #e0e0e0;
      }
      &:before {
        // border-left: 10px solid #adadad;
      }
    }
  }
}

/** The Spacing **/

/** Default button **/

/** The Spacing **/

/** Default button **/
