.btn{
  border: 0 !important;
}

.btn-main{
  background-color: $bgButton;
  color: $cWhite;
  &:hover,
  &:active,
  &:focus{
    color: $cWhite;
    background-color: $bgOverlay;
  }
}

.btn-facebook{
  @include facebook;
  color: $cWhite;
  &:hover{
    color: $cWhite;
    @include facebook-hover;
  }
}


.btn-icon{
  @include icon;
  margin: 0 .2em;
  &:hover{
    color: $cWhite;
    @include icon-hover;
  }
}
.btn-wishlist{
  background-color: $bgWishlist;
  color: $cWhite;
  margin: 0 0 0 .2em;
  &:hover{
    color: $cWhite;
    background-color:  $bgWishlistHover;
  }
}
