body {
    font-family: $font-stack;
    font-size: 16px;
    line-height: 1.42857;
    color: $cText;
    background-color: $bugBackground;
}

a {
    color: $cBlue;

    &:hover {
        color: $cHover;
    }
}

a.readmore {
    color: $cSpan;

    &:hover {
        color: $cLabel;
    }
}

span {
    font-weight: 100;
}
// Wrapper with border top & bottom

.wrapper_inner {
    @include border-block;
    padding: 2em 0;
    margin-bottom: 2em;

    &.inside {
        border: 0;
        padding: 1em 0;

        label {
            font-weight: 100;
            color: $cSpan;
        }

        .post-form,
        .post-maps,
        .post-specials {
            h4 {
                color: $cBlue;
            }
        }
    }

    .post-big {
        h1 {
            font-size: $fsiMedium;
            font-weight: 100;
            color: $cBlue;
        }
    }

    .post-list {
        margin-bottom: 0.1em;
        @include border-bottom;

        &:last-child {
            border-bottom: 0;
        }
    }

    .post-bottom {
        margin-top: $fsiLarge;
    }

    .post-address,
    .post-name,
    .post-room {
        span,
        strong {
            color: $cSpan;
        }
    }

    .post-from {
        span {
            color: $cSpan;
        }

        strong {
            color: $cText;
        }
    }
    // inside
    .post-decription {
        margin-bottom: $fsiiBased;
    }

    .post-space {
        margin-bottom: $fsiThin;
    }

    .post-columns {
        margin-bottom: 0.4em;
    }
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {
        .post-big {
            h1 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .post-links,
        .post-mortgage,
        .post-price,
        .post-room {
            text-align: right;
        }

        .post-address,
        .post-name {
            p {
                margin-bottom: 5px;
            }
        }

        .post-price {
            margin-bottom: 10px;
        }
        // inside
        .post-decription {
            margin-bottom: $fsiSuper;
        }
    }
    @media (min-width: $screen-lg-min) {
        .post-list {
            .post-title {
                h3 {
                    margin-top: 0;
                    margin-bottom: 0.2em;
                }
            }
        }
    }

    &.board{
        @include border-block;
        padding: 2em 0 3em;
        margin-bottom: 2em;
    }

    &.no-bottom{
        border-bottom: 0;
        margin-bottom: 0;
    }
}
// Wrapper with border top & bottom

.wrapper_content {
    margin-top: $fsiiBased;

    p {
        span {
            color: $cSpan;
        }
    }

    .post-content {
        margin-top: $fsiMedium;
    }
    @media (min-width: $screen-sm-min) {
      h2 {
          margin-top: 0;
          margin-bottom: $fsiiBased;
          padding-bottom: 0;
      }
    }
    @media (min-width: $screen-md-min) {}
    @media (min-width: $screen-lg-min) {
        margin-top: $fsiThin;



        h3 {
            margin: 0;
        }

        .inner {
            margin: $fsiiBased 0;
        }
    }
}

.wrapper_filter {
    margin-top: $fsiiBased;
    margin-bottom: $fsiiBased;
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {
        margin-top: $fsiSuper;
        margin-bottom: $fsiiBased;
    }
    @media (min-width: $screen-lg-min) {}
}

.wrapper_subcontent {
    margin-top: $fsiiBased;

    h3 {
        font-size: $fsiiBased;
    }

    .expert_inner {
        padding-bottom: $fsiiBased;
        margin-bottom: $fsiiBased;
        border-bottom: 1px solid $bgUnderline;
    }
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {
        h3 {
            margin-top: 0;
            margin-bottom: 5px;
        }

        p {
            margin-bottom: 0;
        }
    }
    @media (min-width: $screen-lg-min) {
        margin-top: $fsiThin;
    }
}
// Wrapper with border Widget

.wrapper_widget {
    .wrapper_related {
        margin-bottom: $fsiThin;

        h4 {
            background-color: $bgButton;
            color: $cWhite;
        }
    }

    ul {
        background-color: $bgBorder;

        > li {
            border-bottom: 1px solid $bgUnderline;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    p {
        span {
            color: $cSpan;
        }
    }
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {}
    @media (min-width: $screen-lg-min) {
        .wrapper_related {
            h4 {
                margin-top: 0;
                margin-bottom: 0;
                padding: $fsiThin;
                vertical-align: middle;
            }
        }

        ul {
            background-color: $bgBorder;

            > li {
                padding: $fsiThin;
            }
        }

        h3 {
            margin: 0;
        }

        .inner {
            margin: $fsiiBased 0;
        }
    }
}

.wrapper_youtube {
    .items-carousel {
        .wrapper {
            padding-right: 1em;
        }
    }
}

.wrapper_board {
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {}
    @media (min-width: $screen-lg-min) {}
}

.wrapper_wishlist {
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {
        h2 {
            margin-top: 0;
        }
    }
    @media (min-width: $screen-lg-min) {}
}

.wrapper {
    overflow: hidden;
}

.wrapper_banner {
    margin-top: $fsiThin;
    margin-bottom: $fsiThin;
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {
        margin-top: $fsiiBased;
        margin-bottom: $fsiiBased;
    }
    @media (min-width: $screen-lg-min) {}
}

.well{
    &.default{
        background-image: none;
        box-shadow: none;
        border-color: $bgInput;
        background-color: transparent;
    }
    &.hollow{
        background-image: none;
        box-shadow: none;
        border-color: $bgInput;
        background-color: $bugBackground;
    }
    &.main{
        background-image: none;
        box-shadow: none;
        background-color: $bgButton;
        p{
            color : $cWhite;
        }
        a{
            color: $cAlert
        }
    }
}
