@font-face {
	font-family: Kanit;
	src: url("../fonts/Kanit-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: Kanit;
	src: url("../fonts/Kanit-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: Kanit;
	src: url("../fonts/Kanit-Light.ttf");
	font-weight: 100;
}
@font-face {
	font-family: Kanit;
	src: url("../fonts/Kanit-Medium.ttf");
	font-weight: 200;
}
@font-face {
	font-family: Kanit;
	src: url("../fonts/Kanit-Black.ttf");
	font-weight: 900;
}
@font-face {
	font-family: Kanit;
	src: url("../fonts/Kanit-SemiBold.ttf");
	font-weight: 700;
}
