footer{
  padding-top: $fsiiBased;
  margin-top: $fsiiBased;
  padding-bottom: $fsiiBased;
  background-color: $bgFooter;
  color: $cWhite;

  h5{
    font-size: $fsiiBased;
    font-weight: $fwThin;
  }
  ul{
    li{
      a{
        color: $cWhite;
        font-size: $fsiThin;
        font-weight: $fwThin;
        &:hover{
          color: $cUnderline;
        }
      }
    }
  }

  .wrapper_enewsletter,
  .wrapper_contactus{
    margin-bottom: $fsiSuper;

    h5{
      margin-bottom: 15px;
    }
  }

  .social{

  }

  @media (min-width: $screen-sm-min) {

  }
  @media (min-width: $screen-md-min) {

  }
  @media (min-width: $screen-lg-min) {
    padding-top: 20px;
    margin-top: 40px;
  }
}
.copyright{
  background-color: $bgBorder;
  padding: 10px 0 0;
}
