.well_header {
    background-color: $bgBorder;
    background-image: none !important;
    border: 0;
    box-shadow: none;
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {}
    @media (min-width: $screen-lg-min) {
        .row-bottom .form-group {
            margin-bottom: 0;
        }
    }
}
