.wrapper_home{
  margin-top: 10px;

  .section{
    margin-top: 10px;
  }


  .wrapper_post
  {
    margin-bottom: $fsiLarge;
    padding-bottom: $fsiThin;
    border-bottom: 1px solid $bgFooter;
    .post-name{
      font-size: $fsiThin;

      span{
        color: $cSpan;
      }
      strong{
        color: $cText;
      }
    }
    .post-title{
      h3{
        font-size: $fsiiBased;
      }
    }
    .post-link{
      a, .btn-a{
        font-size: $fsiThin;
        color: $cUnderline;
      }
    }
  }

  @media (min-width: $screen-sm-min) {

  }
  @media (min-width: $screen-md-min) {

  }
  @media (min-width: $screen-lg-min) {
    margin-top: 40px;

    h2{
      margin: 0;
    }

    .section{
      margin-top: 20px;
    }



    .wrapper_post
    {
      border: 0;
      padding: 0;
      .post-title{
        h3{
          margin: 5px 0 8px;
        }
      }
    }

  }
}

.wrapper_highlight{
  margin-top: 20px;

  p{
    span{
      color: $cSpan;
      font-size: $fsiThin;
    }
  }



  .highlight-carousel{
    margin-top: 1em;
    .wrapper{


      p{
        span{
          color: $cSpan;
          font-size: $fsiThin;
        }
      }
      .highlight-text{
        font-size: $fsiiBased;
        font-weight: $fwThin;
      }
    }
  }
  @media (min-width: $screen-sm-min) {

  }
  @media (min-width: $screen-md-min) {
    // หน้า news
    .form-group{
      margin-bottom: 0;
    }
    h2{
      margin-top: 0;
      margin-bottom: $fsiiBased;
    }
  }
  @media (min-width: $screen-lg-min) {
    margin-top: 40px;
    h3{
      margin: 0;
    }
    .wrapper{
      margin-bottom: $fsiThin;
    }



  }
}

.wrapper_video{
  margin-top: 20px;
  section{
    margin-bottom: 10px;
  }
  p{
    span{
      color: #fff;
    }
  }
  @media (min-width: $screen-sm-min) {

  }
  @media (min-width: $screen-md-min) {

  }
  @media (min-width: $screen-lg-min) {
    margin-top: 40px;
    h3{
      margin: 0;
    }
    .inner{
      margin: 30px 0 20px;
    }
  }
}
