@mixin relative-block() {
  position: relative;
}
@mixin absolute-block() {
  position: absolute;
}
@mixin border-block() {
  border-top: 1px solid $bgUnderline;
  border-bottom: 1px solid $bgUnderline;
}
@mixin border-bottom() {
  padding: $fsiMedium 0;
  border-bottom: 1px solid $bgUnderline;
}
@mixin facebook() {
  background-color: $bgFacebook;
}
@mixin facebook-hover() {
  background-color: $bgFacebookHover;
}
@mixin icon() {
  background-color: $bgInput;
  color: $cIcon;
}
@mixin icon-hover() {
  background-color: $bgUnderline;
}
