.nav {
	> li {
		> a {
			font-family: $font-stack;
			font-size: $fsiiBased;
			font-weight: $fwLight;
			color: $cText;
		}
		> span{
	    display: block;
	    padding-top: 15px;
			padding-bottom: 15px;
			line-height: 20px;
	  }
	}
}

.navbar-toggle {
	background-color: $bgFooter;
	border: 1px solid $bgFooter;

	.icon-bar {
		border: 1px solid $bgBorder;
	}
}

.navbar-collapse {
	position: relative;
	padding-top: 30px !important;
	max-height: 270px;


	form[role="search"] {
		top: 0;
		right: 0;
		width: 100%;
		padding: 0;
		margin: 0;
		z-index: 0;
	}

	form[role="search"] button {
		padding: 8px 12px;
		border-radius: 0;
		border-width: 0;
		color: $cText;
		box-shadow: none;
		outline: none;
	}

	form[role="search"] input {
		padding: 8px 12px;
		border-radius: 0;
		border-width: 0;
		color: $cText;
		background-color: rgb(248, 248, 248);
		border-color: rgb(231, 231, 231);
		box-shadow: none;
		outline: none;
	}

	form[role="search"] input {
		padding: 16px 12px;
		font-size: 14pt;
		font-style: italic;
		color: rgb(160, 160, 160);
		box-shadow: none;
	}

	form[role="search"] button[type="reset"] {
		display: none;
	}

	form[role="search"].active button {
		background-color: $bgButton;
		color: $cWhite;
	}
}
@media (min-width: $screen-sm-min) {
	form[role="search"] {
		position: relative;
	}

	.navbar-header {
    float: none;
	}

	.navbar-right {
		float: left!important;
		> li:first-child(){
			> a:first-child(){
				padding-left: 0;
			}
		}
	}

	.navbar-collapse {
		padding-top: 0 !important;
		padding-left: 0;
	}


}
@media (min-width: $screen-md-min) {
	form[role="search"] {
		position: absolute;
	}

	.navbar {
		padding: 10px 0;
		margin-bottom: 0;
	}

	.navbar-collapse {
		padding-top: 0 !important;
		padding-left: 15px;
		padding-right: 38px !important;
	}

	.navbar-collapse form[role="search"] {
		width: auto;
	}

	.navbar-collapse form[role="search"] button,
	.navbar-collapse form[role="search"] input {
		padding: 15px 12px;
	}

	.navbar-collapse form[role="search"] input {
		padding: 25px 12px;
		font-size: 18pt;
		opacity: 0;
		display: none;
	}

	.navbar-collapse form[role="search"].active {
		width: 100%;
	}

	.navbar-collapse form[role="search"].active button,
	.navbar-collapse form[role="search"].active input {
		display: table-cell;
		opacity: 1;
	}

	.navbar-collapse form[role="search"].active input {
		width: 100%;
	}



	.navbar-collapse form[role="search"].active .input-group .input-group-btn {
		width: 1%;
	}

	.navbar-brand {
		@include relative-block;
		z-index: 99;
	}

	.navbar-header {
    float: left;
	}

	.navbar-right {
		margin-right: 0;
		float: left!important;
	}
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-lg-min) {
	.navbar-right {
		float: right!important;
	}
}
