.pagination{
  li{
    a{
      color: $cBlue;
      border: 1px solid #ddd;
      // background-color: $bgButton;
    }
    &:first-child,
    &:last-child {
      a{
        color: $cWhite;
        background-color: $bgButton;
        &:hover{
          background-color: $bgOverlay;
        }
      }
    }
  }
}
