.panel-default{
  >.panel-heading{
    color: $cText;
    background-color: $bgBorder;
    background-image: none !important;
    border-radius: 0;
  }
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
	transition: background-color .3s ease;
  .btn-group {
  	margin: 15px 0 30px;
		.btn {
			transition: background-color .3s ease;
		}
  }
}
.table-filter {
	background-color: $cWhite;
	border-bottom: 1px solid $bgBorder;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: $bgBorder;
}
.table-filter tbody tr td {
	vertical-align: middle;
	border-top-color: $bgBorder;
}
.table-filter tbody tr.selected td {
	background-color: $bgBorder;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid $bgBorder;
	background-color: $cWhite;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: $cBlue;
	background-color: $cBlue;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: $cWhite;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}
.table-filter .star {
	color: $bgUnderline;
	text-align: center;
	display: block;
}
.table-filter .star.star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: $bgUnderline;
}
.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}
.table-filter .media-photo {
	width: 35px;
}
.table-filter .media-body {
    // display: inline;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {

	color: #999;
}
.table-filter .media .title {
	color: $cBlue;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {

	margin-right: 20px;
}
.table-filter .media .title span.pagado {
	color: #5cb85c;
}
.table-filter .media .title span.pendiente {
	color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
	color: #d9534f;
}
.table-filter .media .summary {

}


.title-header{
	margin-bottom: 1em;
	h2{
		margin-bottom: 1em;
	}
}

@media (min-width: $screen-sm-min) {}
@media (min-width: $screen-md-min) {
	.title-header{
		h2{
			margin-bottom: 0;
		}
	}
}
@media (min-width: $screen-lg-min) {}
