.panel-search {
    .wrapper_search {
        background: $bgButton;
        padding: 10px;
    }

    .btn {
        background-color: $cWhite;
        color: $cBlue;
    }

    h3 {
        color: $cText;
    }
    @media (min-width: $screen-sm-min) {}
    @media (min-width: $screen-md-min) {}
    @media (min-width: $screen-lg-min) {
         @include absolute-block;
        left: 0;
        right: 0;
        bottom: 15%;
        z-index: 99;

        .col-md-2,
        .col-md-3 {
            // padding-right: 0;
        }

        .wrapper_search {
            background: $bgWhiteTransaparent;
            opacity: 0.9;
            // padding: 15px 10px 0;
            padding: 20px 15px 5px;
        }

        .btn {
            background-color: $bgButton;
            color: $cWhite;
        }

        h3 {
            color: $cWhite;
        }
    }
}
