h2{
  span{
    color: $cBlue;
  }
}

.expert{
  a{
    color: $cSpan;
    font-size: $fsiThin;
    &:hover{
      color: $cHover;
      text-decoration: none;
    }
  }
}
.price{
  color: $cText;
  font-size: $fsiiBased;
}
