

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

.col-left,
.col-right{
  float: none;
}

@media (min-width: $screen-sm-min) {

}
@media (min-width: $screen-md-min) {
  .col-left{
    float: left;
  }
  .col-right{
    float: right;
  }
}
@media (min-width: $screen-lg-min) {
  .col-left{
    float: left;
  }
  .col-right{
    float: right;
  }
}
