@import url('https://fonts.googleapis.com/css?family=Kanit:400,500,700,900');

// 1. BG Color
// 2. Text Color
// 3. Font Size

$font-stack         : "Kanit", sans-serif;

// FONTS SIZE
$fsiThin         : 0.80em;
$fsiiBased         : 1em;
$fsiMedium        : 1.2em;
$fsiLarge         : 1.5em;
$fsiSuper         : 2em;
// FONTS WIDTH
$fwThin       : 100;
$fwLight        : 300;
$fwRegular        : 400;
$fwMedium        : 500;
$fwBold          : 700;
$fwBlack          : 900;
//FONT STYLES
$fstNormal      : normal;
$fstItalic      : italic;
$fstItalic      : underline;

// BACKGROUND COLOR
$bugBackground         : #ffffff;
$bgFooter        : #222222;
$bgButton        : #003168;
$bgOverlay       : #444444;
$bgInput        : #dddddd;
$bgBorder        : #eeeeee;
$bgUnderline     : #bcbcbc;
$bgWhiteTransaparent     : rgba(255, 255, 255, 0.2);
$bgFacebook    : #3b5998;
$bgFacebookHover    : #8b9dc3;
$bgWishlist    : #b20000;
$bgWishlistHover    : #eb0000;

// FONTS COLOR
$cText        : #010101;
$cWhite       : #ffffff;
$cBlue        : #003168;
$cHover        : #444444;
$cHeading      : #010101;
$cLabel        : #444444;
$cIcon        : #999999;
$cSpan        : #717171;
$cUnderline        : #666666;
$zOverlay      : #41648c; //HOVER TEXT
$cAlert    : #b20000;


// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;
