<h3>AOL SMART SEARCH</h3>
<div class="row">
    <div class="col-md-12">
        <form class="form wrapper_search" ng-init="init()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input id="keyword" ng-model="search.keyword" type="text" name="" placeholder="ค้นหาจากทำเล หรือคำที่เกี่ยวข้อง.." class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select ng-model="search.postingTypeId" class="form-control">
                                                <option value="">ประเภทโพสทั้งหมด</option>
                                                <option ng-repeat="item in postingList" value="{{item.value}}">{{item.label}}</option>
                                            </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select ng-model="search.placeTypeId" class="form-control">
                                                <option value="" selected>ประเภททรัพย์ทั้งหมด</option>
                                                <option ng-repeat="item in placetypeList" value="{{item.value}}">{{item.label}}</option>
                                            </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select class="form-control" ng-model="search.priceFrom">
                                                <option value="">ราคาเริ่มต้น</option>
                                                <option value="500000">500,000</option>
                                                <option value="1000000">1,000,000</option>
                                                <option value="1500000">1,500,000</option>
                                                <option value="2000000">2,000,000</option>
                                                <option value="2500000">2,500,000</option>
                                                <option value="3000000">3,000,000</option>
                                                <option value="3500000">3,500,000</option>
                                                <option value="4000000">4,000,000</option>
                                                <option value="4500000">4,500,000</option>
                                                <option value="5000000">5,000,000</option>
                                                <option value="5500000">5,500,000</option>
                                            </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select class="form-control" ng-model="search.priceTo">
                                                <option value="">ราคาเริ่มต้น</option>
                                                <option value="500000">500,000</option>
                                                <option value="1000000">1,000,000</option>
                                                <option value="1500000">1,500,000</option>
                                                <option value="2000000">2,000,000</option>
                                                <option value="2500000">2,500,000</option>
                                                <option value="3000000">3,000,000</option>
                                                <option value="3500000">3,500,000</option>
                                                <option value="4000000">4,000,000</option>
                                                <option value="4500000">4,500,000</option>
                                                <option value="5000000">5,000,000</option>
                                                <option value="5500000">5,500,000</option>
                                            </select>
                    </div>
                </div>
            </div>
            <!--END ROW-->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <select ng-model="search.provinceId" class="form-control" ng-change="provinceUpdate()">
                                                <option value="" selected>จังหวัดทั้งหมด</option>
                                                <option ng-repeat="item in provinceList" value="{{item.value}}">{{item.label}}</option>
                                            </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select ng-model="search.amplurId" class="form-control">
                                                <option value="" selected>อำเภอทั้งหมด</option>
                                                <option ng-repeat="item in amplurList" value="{{item.value}}">{{item.label}}</option>
                                            </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select ng-model="search.bedroomFrom" class="form-control">
                                                <option value="">ห้องนอนขั้นต่ำ</option>
                                                <option ng-repeat="item in bedroomList" value="{{item.value}}">{{item.label}}</option>
                                            </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select ng-model="search.bedroomTo" class="form-control">
                                                <option value="">ห้องนอนสุงสุด</option>
                                                <option ng-repeat="item in bedroomList" value="{{item.value}}">{{item.label}}</option>
                                            </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <!--<input type="hidden" name="action">-->
                        <button ng-click="searchPost()" class="btn btn-block">ค้นหา</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>