<div class="well well_header" ng-init="board.init()">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <search></search>
            </div>
        </div>
    </div>
</div>
<div class="container wrapper_breadcrumbs">
    <div class="row">
        <div class="container-fluid">
            <div class="btn-group btn-breadcrumb"><a href="index.html" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a><a href="#" class="btn btn-default">บอร์ดประกาศ</a></div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="container wrapper_content">
    <div class="row">
        <div class="container-fluid">
            <h2>บอร์ดประกาศ</h2>
            <form name="from_board" method="post" action="">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <p>
                            <textarea name="subject" id="subject" rows="4" maxlength="255" class="form-control"></textarea>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <p>
                            <select name="category" id="" class="form-control">
                    <option value="">จัดเรียงตาม</option>
                    <option value="">หมวดที่ 1</option>
                    <option value="">หมวดที่ 2</option>
                    <option value="">หมวดที่ 3</option>
                    <option value="">หมวดที่ 4</option>
                  </select>
                        </p>
                        <p>
                            <input type="hidden" name="action">
                            <button type="submit" name="search" class="btn btn-main">ตั้งประกาศ</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END WRAPPER-->
<div class="clearfix"></div>
<div class="container wrapper_filter">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form name="from_filter" method="post" action="" class="form-inline">
                        <div class="col-right">
                            <div class="form-group">
                                <input id="keyword" type="text" name="" placeholder="ค้นหาจากทำเล หรือคำที่เกี่ยวข้อง.." class="form-control">
                            </div>
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                      <option value="">ประเภทการข่าวและบทความ</option>
                      <option value="">ข่าว</option>
                      <option value="">บทความ</option>
                    </select>
                            </div>
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                      <option value="">จัดเรียงตาม</option>
                      <option value="">ใหม่ล่าสุด</option>
                      <option value="">ข่าวย้อนหลัง</option>
                      <option value="">อ่านมากที่สุด</option>
                      <option value="">อ่านน้อยที่สุด</option>
                    </select>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="action">
                                <button type="submit" name="search" class="btn btn-main">ค้นหา</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END WRAPPER-->
<div class="clearfix"></div>
<div class="container wrapper_subcontent">
    <div class="row">
        <div class="container-fluid">
            <div class="expert_inner" ng-repeat="item in board.RequirementList">
                <div class="board-post section">
                    <div class="clearfix"></div>
                    <div class="row wrapper_post">
                        <div class="col-md-1">
                            <a href="board/1" title="">
                                <img src="http://placehold.it/400x400?text=400X400" class="img-responsive"></a>
                        </div>
                        <div class="col-md-11">
                            <div class="post-name"><span>ประกาศจาก :</span><strong>{{item.ownerUserId}}</strong></div>
                            <div class="post-title">
                                <h3><a href="#" title="">{{item.headContent}}</a></h3>
                            </div>
                            <div class="post-link">
                                <div class="pull-left"><a href="#" title="" class="btn-a">ติดต่อผู้ประกาศ</a></div>
                                <div class="pull-right"><span class="btn-a">{{item.replyCount}} คำตอบ | &nbsp;</span><span class="btn-a">หมวดหมู่ : เช่าอสังหาริมทรัพย์</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->
<div class="clearfix "></div>
<div class="container wrapper_pagination ">
    <div class="row ">
        <div class="container-fluid ">
            <section class="row ">
                <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4 ">
                    <nav aria-label="Page navigation ">
                        <ul class="pagination ">
                            <li><a href="# " aria-label="Previous "><i aria-hidden="true " class="fa fa-angle-left "></i></a></li>
                            <li><a href="# ">1</a></li>
                            <li><a href="# ">2</a></li>
                            <li><a href="# ">3</a></li>
                            <li><a href="# ">4</a></li>
                            <li><a href="# ">5</a></li>
                            <li><a href="# " aria-label="Next "><i aria-hidden="true " class="fa fa-angle-right "></i></a></li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
    </div>
</div>