<section>
    <article class="relative">
        <ul id="slider">
            <li>
                <a href="#slide1"><img src="assets/images/Banner-AOL-home-1.jpg"></a>
            </li>
            <li>
                <a href="#slide2"><img src="assets/images/Banner-AOL-home-2.jpg"></a>
            </li>
        </ul>
        <div class="panel-search">
            <div class="container">
                <search></search>
            </div>
        </div>
    </article>
</section>
<div class="container wrapper_home" ng-init="vm.init()">
    <div class="row">
        <div class="container-fluid">
            <form action="" method="get" name="from_board" class="form-inline">
                <section class="row">
                    <div class="col-md-12">
                        <div class="col-left">
                            <h2>บอร์ดประกาศ AOL PROPERTY</h2>
                        </div>
                        <div class="col-right">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                                        <option value="">คำตอบล่าสุด</option>
                                        <option value="">คำตอบที่ได้รับความนิยม</option>
                                        <option value="">คำตอบเข้าชมมากที่สุด</option>
                                        <option value="">คำตอบที่เข้าชมน้อยที่สุด</option>
                                    </select>
                            </div>
                            <div class="form-group"><a href="board" title="">ดูประกาศทั้งหมด <span class="glyphicon glyphicon-arrow-right"></span></a></div>
                        </div>
                    </div>
                </section>
                <div class="board-post section" ng-repeat="item in vm.RequirementList | limitTo:3">
                    <div class="clearfix"></div>
                    <div class="row wrapper_post">
                        <div class="col-md-1">
                            <a ng-href="board/{{item.requirementPostId}}" title="">
                                <img ng-src="{{imgUrl}}/profile/default_image.jpg" class="img-responsive"></a>
                        </div>
                        <div class="col-md-11">
                            <div class="post-name"><span>ประกาศจาก :</span><strong>{{item.ownerUserId}}</strong></div>
                            <div class="post-title">
                                <h3><a ng-href="board/{{item.requirementPostId}}" title="">{{item.headContent}}</a></h3>
                            </div>
                            <div class="post-link">
                                <div class="pull-left"><a ng-href="board/{{item.requirementPostId}}" title="" class="btn-a">ติดต่อผู้ประกาศ</a></div>
                                <div class="pull-right"><span class="btn-a">{{item.replyCount}} คำตอบ | &nbsp;</span><span class="btn-a">หมวดหมู่ : เช่าอสังหาริมทรัพย์</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row wrapper_post">
                    <div class="col-md-3 col-md-offset-4"><a href="board" title="" class="btn btn-main text-center center-block">รายการบอร์ดประกาศทั้งหมด</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="container wrapper_highlight">
    <div class="row">
        <div class="container-fluid">
            <section class="row">
                <div class="col-md-12">
                    <div class="col-left">
                        <h3>โครงการแนะนำ</h3>
                    </div>
                    <div class="col-right"><a href="#" title="">ดูโครงการทั้งหมด &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a></div>
                </div>
            </section>
            <div class="highlight-carousel">
                <div class="wrapper">
                    <p>
                        <a href="#" title="">
                            <img src="http://placehold.it/600x300/000000/ffffff?text=400X200" class="img-responsive"></a>
                    </p>
                    <h4><a href="#" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                    <p><span>- 10 มกราคม 2560</span></p>
                    <p class="highlight-text">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;<a href="#" title="" class="readmore">อ่านต่อ...</a></p>
                </div>
                <div class="wrapper">
                    <p>
                        <a href="#" title="">
                            <img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a>
                    </p>
                    <h4><a href="#" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                    <p><span>- 10 มกราคม 2560</span></p>
                    <p class="highlight-text">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;<a href="#" title="" class="readmore">อ่านต่อ...</a></p>
                </div>
                <div class="wrapper">
                    <p>
                        <a href="#" title="">
                            <img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a>
                    </p>
                    <h4><a href="#" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                    <p><span>- 10 มกราคม 2560</span></p>
                    <p class="highlight-text">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;<a href="#" title="" class="readmore">อ่านต่อ...</a></p>
                </div>
                <div class="wrapper">
                    <p>
                        <a href="#" title="">
                            <img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a>
                    </p>
                    <h4><a href="#" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                    <p><span>- 10 มกราคม 2560</span></p>
                    <p class="highlight-text">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;<a href="#" title="" class="readmore">อ่านต่อ...</a></p>
                </div>
                <div class="wrapper">
                    <p>
                        <a href="#" title="">
                            <img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a>
                    </p>
                    <h4><a href="#" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                    <p><span>- 10 มกราคม 2560</span></p>
                    <p class="highlight-text">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;<a href="#" title="" class="readmore">อ่านต่อ...</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="container wrapper_highlight">
    <div class="row">
        <div class="container-fluid">
            <section class="row">
                <div class="col-md-12">
                    <div class="col-left">
                        <h3>ข่าวอสังหาริมทรัพย์ และบทความ</h3>
                    </div>
                    <div class="col-right"><a href="#" title="">ดูข่าวอสังหาริมทรัพย์และบทความทั้งหมด &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a></div>
                </div>
            </section>
            <div class="highlight-carousel">
                <div style="display: none;" class="wrapper">
                </div>
                <div class="wrapper" ng-repeat="item in vm.AcrticleNewsList">
                    <p>
                        <a href="#" title=""><img ng-src="{{imgUrl}}/articleNew/{{item.shortImgname}}" class="img-responsive"></a>
                    </p>
                    <h4><a href="#" title="">{{item.title}}</a></h4>
                    <p><span>- {{item.createDateStr}}</span></p>
                    <p class="highlight-text">{{item.shotDesc}} &nbsp;<a href="#" title="" class="readmore">อ่านต่อ...</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="container wrapper_video">
    <div class="row">
        <div class="container-fluid">
            <div class="col-md-6">
                <div class="wrapper_youtube">
                    <iframe src="{{vm.VideoList[0].shotDesc | trustAsResourceUrl}}" width="100%" height="282" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <!--<h3>วีดีโอข่าวสารอสังหาริมทรัพย์</h3>-->
                <h3>{{vm.VideoList[0].title}}</h3>
                <p class="inner" ng-bind-html="vm.VideoList[0].contentInfo"> </p>
                <section class="row">
                    <div class="col-md-12">
                        <div class="col-right"><a href="video" title="">ดูวีดีโอทั้งหมด &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a></div>
                    </div>
                </section>
                <div class="video-carousel">
                    <div class="wrapper" ng-repeat="item in vm.VideoList" ng-if="$index > 0">
                        <a href="video-detail.html" title="">
                            <img ng-src="{{imgUrl}}//articleNew/{{item.shortImgname}}" class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#slider").slippry()
    $(".highlight-carousel").slick({
        dots: false,
        infinite: true,
        centerPadding: '10px',
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 4,
        centerMode: false,
        //variableWidth: true,
        responsive: [{
                breakpoint: 992,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
            }, {
                breakpoint: 762,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });
    $(".video-carousel, .items-carousel").slick({
        dots: false,
        infinite: true,
        centerPadding: '10px',
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 3,
        centerMode: false,
        //variableWidth: true,
        responsive: [{
                breakpoint: 992,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            }, {
                breakpoint: 762,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });
</script>