<div class="well well_header" ng-init="vm.init()">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <search></search>
            </div>
        </div>
    </div>
</div>
<div class="container wrapper_breadcrumbs">
    <div class="row">
        <div class="container-fluid">
            <div class="btn-group btn-breadcrumb"><a href="index.html" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a><a href="#" class="btn btn-default">วีดีโอ</a></div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="container wrapper_content">
    <div class="row">
        <div class="container-fluid">
            <h2>วีดีโอข่าวสารอสังหาริมทรัพย์ แนะนำ</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="wrapper_youtube">
                        <iframe src="https://www.youtube.com/embed/wxhepFUNVq4" width="100%" height="282" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3><a href="video-detail.html" title="">เทรนด์การลงทุนปี 2560</a></h3>
                    <p><span>- 10 มกราคม 2560</span></p>
                    <p class="inner">Lorem ipsum dolor sit amet, ad tation bonorum est, at quem doming civibus has. Ridens saperet vivendo eu mel Lorem ipsum dolor sit amet, ad tation bonorum est, at quem doming civibus has. Ridens saperet vivendo eu mel Lorem ipsum dolor
                        sit amet,</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END content-->
<div class="clearfix"></div>
<div class="container wrapper_highlight">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h2>รายการวีดีโอ</h2>
                    </div>
                    <div class="pull-right">
                        <form name="from_filter" method="post" action="" class="form-inline">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                      <option value="">จัดเรียงตาม</option>
                      <option value="">ใหม่ล่าสุด</option>
                      <option value="">ข่าวย้อนหลัง</option>
                      <option value="">อ่านมากที่สุด</option>
                      <option value="">อ่านน้อยที่สุด</option>
                    </select>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="action">
                                <button type="submit" name="search" class="btn btn-main">ค้นหา</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <section class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
                    <p>
                        <a href="video-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=VIDEO" class="img-responsive"></a>
                    </p>
                    <h4><a href="video-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                </div>
                <!-- END WRAPPER-->
                <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
                    <p>
                        <a href="video-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=VIDEO" class="img-responsive"></a>
                    </p>
                    <h4><a href="video-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                </div>
                <!-- END WRAPPER-->
                <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
                    <p>
                        <a href="video-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=VIDEO" class="img-responsive"></a>
                    </p>
                    <h4><a href="video-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                </div>
                <!-- END WRAPPER-->
                <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
                    <p>
                        <a href="video-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=VIDEO" class="img-responsive"></a>
                    </p>
                    <h4><a href="video-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                </div>
                <!-- END WRAPPER-->
                <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
                    <p>
                        <a href="video-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=VIDEO" class="img-responsive"></a>
                    </p>
                    <h4><a href="video-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                </div>
                <!-- END WRAPPER-->
                <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
                    <p>
                        <a href="video-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=VIDEO" class="img-responsive"></a>
                    </p>
                    <h4><a href="video-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                </div>
                <!-- END WRAPPER-->
                <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
                    <p>
                        <a href="video-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=VIDEO" class="img-responsive"></a>
                    </p>
                    <h4><a href="video-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                </div>
                <!-- END WRAPPER-->
                <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
                    <p>
                        <a href="video-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=VIDEO" class="img-responsive"></a>
                    </p>
                    <h4><a href="video-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                </div>
                <!-- END WRAPPER-->
            </section>
        </div>
    </div>
</div>
<!--END CONTENT-->
<div class="clearfix"></div>
<div class="container wrapper_pagination">
    <div class="row">
        <div class="container-fluid">
            <section class="row">
                <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous"><i aria-hidden="true" class="fa fa-angle-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next"><i aria-hidden="true" class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
    </div>
</div>