extends template-cms-inside.jade
block content
  .container.wrapper_breadcrumbs
    .row
      .container-fluid
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href='index.html')
            i.glyphicon.glyphicon-home
          a.btn.btn-default(href='board.html') ข่าวสาร
          a.btn.btn-default(href='#') ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
  // END BREADCRUMBS

  .clearfix
  .container.wrapper_login
    .row
      .container-fluid
        h2
          | ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
        .wrapper_inner
          ul.list-inline
            li
              p.inline
                span ประกาศจาก : &nbsp;
                strong นายวิทวัต กิตติวรบุตร
            li
              p
                a.btn-a(href="board-detail.html", title="") ติดต่อผู้ประกาศ
            li
              p
                span.btn-a 2 คำตอบ | &nbsp;
                span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์


          form.form-horizontal(name="form_comment", action="", method="post", encrytion="", autocomplete="false")
            hr
            .form-group
              .col-md-12
                textarea.form-control(name="comment", maxlength="255", rows="4", id="comment")

            .form-group
              .col-md-12
                input(type="hidden", name="action", value="action_comment")
                button.btn.btn-lg.btn-main(type="button") บันทึก
        // END Wrapper
