extends template-cms.jade
block content
	.container.wrapper_breadcrumbs
		.row
			.container-fluid
				.btn-group.btn-breadcrumb
					a.btn.btn-default(href='index.html')
						i.glyphicon.glyphicon-home
					a.btn.btn-default(href='#') บอร์ดประกาศ
	.clearfix
	.container.wrapper_content
		.row
			.container-fluid

				h2 บอร์ดประกาศ
				form(name="from_board", method="post", action="")
					.row
						.col-sm-12.col-md-8
							p
								textarea.form-control(name="subject", id="subject", rows="4", maxlength="255")
						.col-sm-12.col-md-4
							p
								select.form-control(name="category", id="")
									option(value="") จัดเรียงตาม
									option(value="") หมวดที่ 1
									option(value="") หมวดที่ 2
									option(value="") หมวดที่ 3
									option(value="") หมวดที่ 4
							p
								input(type="hidden", name="action")
								button.btn.btn-main(type='submit',name='search') ตั้งประกาศ


	// END WRAPPER

	.clearfix
	.container.wrapper_filter
		.row
			.container-fluid
				.row
					.col-md-12
						form.form-inline(name="from_filter", method="post", action="")
							.col-right
								.form-group
									input#keyword.form-control(type='text', name="", placeholder='ค้นหาจากทำเล หรือคำที่เกี่ยวข้อง..')
								.form-group
									select.form-control(name="", id="")
										option(value="") ประเภทการข่าวและบทความ
										option(value="") ข่าว
										option(value="") บทความ
								.form-group
									select.form-control(name="", id="")
										option(value="") จัดเรียงตาม
										option(value="") ใหม่ล่าสุด
										option(value="") ข่าวย้อนหลัง
										option(value="") อ่านมากที่สุด
										option(value="") อ่านน้อยที่สุด
								.form-group
									input(type="hidden", name="action")
									button.btn.btn-main(type='submit',name='search') ค้นหา
	// END WRAPPER

	.clearfix
	.container.wrapper_subcontent
		.row
			.container-fluid
				.expert_inner
					.board-post.section
						.clearfix
						.row.wrapper_post
							.col-md-1
								a(href="board-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x400?text=400X400")
							.col-md-11
								.post-name
									span ประกาศจาก :
									strong นายวิทวัต กิตติวรบุตร
								.post-title
									h3
										a(href="board-detail.html", title="") ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
								.post-link
									.pull-left
										a.btn-a(href="board-detail.html", title="") ติดต่อผู้ประกาศ
									.pull-right
										span.btn-a 2 คำตอบ | &nbsp;
										span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์
				//END EXPERT
				.expert_inner
					.board-post.section
						.clearfix
						.row.wrapper_post
							.col-md-1
								a(href="board-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x400?text=400X400")
							.col-md-11
								.post-name
									span ประกาศจาก :
									strong นายวิทวัต กิตติวรบุตร
								.post-title
									h3
										a(href="board-detail.html", title="") ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
								.post-link
									.pull-left
										a.btn-a(href="board-detail.html", title="") ติดต่อผู้ประกาศ
									.pull-right
										span.btn-a 2 คำตอบ | &nbsp;
										span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์
				//END EXPERT
				.expert_inner
					.board-post.section
						.clearfix
						.row.wrapper_post
							.col-md-1
								a(href="board-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x400?text=400X400")
							.col-md-11
								.post-name
									span ประกาศจาก :
									strong นายวิทวัต กิตติวรบุตร
								.post-title
									h3
										a(href="board-detail.html", title="") ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
								.post-link
									.pull-left
										a.btn-a(href="board-detail.html", title="") ติดต่อผู้ประกาศ
									.pull-right
										span.btn-a 2 คำตอบ | &nbsp;
										span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์
				//END EXPERT
				.expert_inner
					.board-post.section
						.clearfix
						.row.wrapper_post
							.col-md-1
								a(href="board-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x400?text=400X400")
							.col-md-11
								.post-name
									span ประกาศจาก :
									strong นายวิทวัต กิตติวรบุตร
								.post-title
									h3
										a(href="board-detail.html", title="") ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
								.post-link
									.pull-left
										a.btn-a(href="board-detail.html", title="") ติดต่อผู้ประกาศ
									.pull-right
										span.btn-a 2 คำตอบ | &nbsp;
										span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์
				//END EXPERT
				.expert_inner
					.board-post.section
						.clearfix
						.row.wrapper_post
							.col-md-1
								a(href="board-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x400?text=400X400")
							.col-md-11
								.post-name
									span ประกาศจาก :
									strong นายวิทวัต กิตติวรบุตร
								.post-title
									h3
										a(href="board-detail.html", title="") ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
								.post-link
									.pull-left
										a.btn-a(href="board-detail.html", title="") ติดต่อผู้ประกาศ
									.pull-right
										span.btn-a 2 คำตอบ | &nbsp;
										span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์
				//END EXPERT
				.expert_inner
					.board-post.section
						.clearfix
						.row.wrapper_post
							.col-md-1
								a(href="board-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x400?text=400X400")
							.col-md-11
								.post-name
									span ประกาศจาก :
									strong นายวิทวัต กิตติวรบุตร
								.post-title
									h3
										a(href="board-detail.html", title="") ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
								.post-link
									.pull-left
										a.btn-a(href="board-detail.html", title="") ติดต่อผู้ประกาศ
									.pull-right
										span.btn-a 2 คำตอบ | &nbsp;
										span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์
				//END EXPERT


	//END CONTENT
