extends template-child.jade
block content
  .container.wrapper_login
    .row
      .container-fluid
        h2
          | ลืมรหัสผ่าน&nbsp;
          span AOL&nbsp;
          | PROPERTY
        .wrapper_inner
          form.form-horizontal(name="form_forgotpassword", action="", method="post", encrytion="", autocomplete="false")
            .form-group
              .col-md-offset-2.col-md-10
                strong ทำการกรอก หรือระบุ EMAIL ของท่านลงไปในช่อง ระบบจะทำการส่งรหัสผ่านใหม่ไปให้ท่านในอีเมล์ ที่ระบุ
            hr
            .form-group
              label.col-md-4.control-label(for="username") EMAIL :
              .col-md-4
                input.form-control(name="email", type="email", id="email", placeholder="AOLPROPERTY@AOLPROPERTY.COM")

            .form-group
              .col-md-offset-4.col-md-4
                input(type="hidden", name="action", value="action_login")
                button.btn.btn-lg.btn-main(type="button") ยืนยัน
        // END Wrapper
        .col-md-offset-4.col-md-6
          p
            | หากคุณยัังไม่เป็นสมาชิกกับเรา โปรดทำการ &nbsp;
            a.btn-links(href="register.html", title="") สมัครสมาชิกใหม่
