extends template.jade


block content
	.container.wrapper_home
		.row
			.container-fluid
				form.form-inline(action="", method="get", name="from_board")
					section.row
						.col-md-12
							.col-left
								h2 บอร์ดประกาศ AOL PROPERTY
							.col-right
								.form-group
									select.form-control(name="", id="")
										option(value="") คำตอบล่าสุด
										option(value="") คำตอบที่ได้รับความนิยม
										option(value="") คำตอบเข้าชมมากที่สุด
										option(value="") คำตอบที่เข้าชมน้อยที่สุด
								.form-group
									a(href="#", title="") ข่าวอสังหาริมทรัพย์ทั้งหมด
										span.glyphicon.glyphicon-arrow-right
					.board-post.section
						.clearfix
						.row.wrapper_post
							.col-md-1
								a(href="#", title="")
									img.img-responsive(src="http://placehold.it/400x400?text=400X400")
							.col-md-11
								.post-name
									span ประกาศจาก :
									strong นายวิทวัต กิตติวรบุตร
								.post-title
									h3
										a(href="#", title="") ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
								.post-link
									.pull-left
										a.btn-a(href="#", title="") ติดต่อผู้ประกาศ
									.pull-right
										span.btn-a 2 คำตอบ | &nbsp;
										span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์
						.clearfix
						.row.wrapper_post
							.col-md-1
								a(href="#", title="")
									img.img-responsive(src="http://placehold.it/400x400?text=400X400")
							.col-md-11
								.post-name
									span ประกาศจาก :
									strong นายวิทวัต กิตติวรบุตร
								.post-title
									h3
										a(href="#", title="") ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
								.post-link
									.pull-left
										a.btn-a(href="#", title="") ติดต่อผู้ประกาศ
									.pull-right
										span.btn-a 2 คำตอบ | &nbsp;
										span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์
						.clearfix
						.row.wrapper_post
							.col-md-1
								a(href="#", title="")
									img.img-responsive(src="http://placehold.it/400x400?text=400X400")
							.col-md-11
								.post-name
									span ประกาศจาก :
									strong นายวิทวัต กิตติวรบุตร
								.post-title
									h3
										a(href="#", title="") ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
								.post-link
									.pull-left
										a.btn-a(href="#", title="") ติดต่อผู้ประกาศ
									.pull-right
										span.btn-a 2 คำตอบ | &nbsp;
										span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์

						.clearfix
						.row.wrapper_post
							.col-md-3.col-md-offset-4
								a.btn.btn-main.text-center.center-block(href="#", title="") รายการบอร์ดประกาศทั้งหมด

	//.clearfix
	//.container.wrapper_banner
		//.row
			//.col-xs-12
				//a.center-block(href="#", title="")
					//img.img-responsive(src="../../template/assets/images/AOL1400-2.jpg")
	//END ROW

	.clearfix
	.container.wrapper_highlight
		.row
			.container-fluid
				section.row
					.col-md-12
						.col-left
							h3 โครงการแนะนำ
						.col-right
							a(href="#", title="") ดูโครงการทั้งหมด &nbsp;
								span.glyphicon.glyphicon-arrow-right

				.highlight-carousel
					.wrapper
						p
							a(href="#", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="#", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p
							span
								| - 10 มกราคม 2560
						p.highlight-text
							| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
							a.readmore(href="#", title="") อ่านต่อ...
					.wrapper
						p
							a(href="#", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="#", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p
							span
								| - 10 มกราคม 2560
						p.highlight-text
							| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
							a.readmore(href="#", title="") อ่านต่อ...
					.wrapper
						p
							a(href="#", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="#", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p
							span
								| - 10 มกราคม 2560
						p.highlight-text
							| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
							a.readmore(href="#", title="") อ่านต่อ...
					.wrapper
						p
							a(href="#", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="#", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p
							span
								| - 10 มกราคม 2560
						p.highlight-text
							| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
							a.readmore(href="#", title="") อ่านต่อ...
					.wrapper
						p
							a(href="#", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="#", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p
							span
								| - 10 มกราคม 2560
						p.highlight-text
							| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
							a.readmore(href="#", title="") อ่านต่อ...

	.clearfix
	.container.wrapper_highlight
		.row
			.container-fluid
				section.row
					.col-md-12
						.col-left
							h3 ข่าวอสังหาริมทรัพย์ และบทความ
						.col-right
							a(href="#", title="") ดูข่าวอสังหาริมทรัพย์และบทความทั้งหมด &nbsp;
								span.glyphicon.glyphicon-arrow-right

				.highlight-carousel
					.wrapper
						p
							a(href="#", title="")
								img.img-responsive(src="http://52.77.78.52:8080/admin/images?fileName=/articleNew/shotImg1452751271384.jpg")
						h4
							a(href="#", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p
							span
								| - 10 มกราคม 2560
						p.highlight-text
							| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
							a.readmore(href="#", title="") อ่านต่อ...
					.wrapper
						p
							a(href="#", title="")
								img.img-responsive(src="http://52.77.78.52:8080/admin/images?fileName=/articleNew/shotImg1452751271384.jpg")
						h4
							a(href="#", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p
							span
								| - 10 มกราคม 2560
						p.highlight-text
							| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
							a.readmore(href="#", title="") อ่านต่อ...


	//.clearfix
	//.container.wrapper_banner
		//.row
			//.col-xs-12
				//a.center-block(href="#", title="")
					//img.img-responsive(src="../../template/assets/images/AOL1400-1.jpg")
	//END ROW

	.clearfix
	.container.wrapper_video
		.row
			.container-fluid
				.col-md-6
					.wrapper_youtube
						iframe.embed-responsive-item(src="https://www.youtube.com/embed/wxhepFUNVq4", width="100%", height="282", frameborder="0", allowfullscreen)
				.col-md-6
					h3
						| วีดีโอข่าวสารอสังหาริมทรัพย์
					p.inner
						| Lorem ipsum dolor sit amet, ad tation bonorum est, at quem doming civibus has. Ridens saperet vivendo eu mel Lorem ipsum dolor sit amet, ad tation bonorum est, at quem doming civibus has. Ridens saperet vivendo eu mel Lorem ipsum dolor sit amet,

					section.row
						.col-md-12
							.col-right
								a(href="video.html", title="") ดูวีดีโอทั้งหมด &nbsp;
									span.glyphicon.glyphicon-arrow-right
					.video-carousel
						.wrapper
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						.wrapper
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						.wrapper
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						.wrapper
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						.wrapper
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
