extends template-member.jade
block content
  .container.wrapper_login
    .row
      .container-fluid
        h2
          | รายการคอนโดมิเนี่ยม
        .wrapper_inner
          .row
            // SIDEBAR
            include partials/sidebar.jade
            // END SIDEBAR

            // CONTENT
            .col-xs-12.col-sm-8.col-md-9
              section.content
                .panel.panel-default
                  .panel-body
                    .pull-right
                      .btn-group
                        button.btn.btn-success.btn-filter(type='button', data-target='pagado') Pagado
                        button.btn.btn-warning.btn-filter(type='button', data-target='pendiente') Pendiente
                        button.btn.btn-danger.btn-filter(type='button', data-target='cancelado') Cancelado
                        button.btn.btn-default.btn-filter(type='button', data-target='all') Todos
                    .table-container
                      table.table.table-filter
                        tbody
                          tr(data-status='pagado')
                            td
                              .ckbox
                                input#checkbox1(type='checkbox')
                                label(for='checkbox1')
                            td
                              a.star(href='javascript:;')
                                i.glyphicon.glyphicon-star
                            td
                              .media
                                a.pull-left(href='#')
                                  img.media-photo(src='https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg')
                                .media-body
                                  span.media-meta.pull-right Febrero 13, 2016
                                  h4.title
                                    | Lorem Impsum
                                    span.pull-right.pagado (Pagado)
                                  p.summary Ut enim ad minim veniam, quis nostrud exercitation...
                          tr(data-status='pendiente')
                            td
                              .ckbox
                                input#checkbox3(type='checkbox')
                                label(for='checkbox3')
                            td
                              a.star(href='javascript:;')
                                i.glyphicon.glyphicon-star
                            td
                              .media
                                a.pull-left(href='#')
                                  img.media-photo(src='https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg')
                                .media-body
                                  span.media-meta.pull-right Febrero 13, 2016
                                  h4.title
                                    | Lorem Impsum
                                    span.pull-right.pendiente (Pendiente)
                                  p.summary Ut enim ad minim veniam, quis nostrud exercitation...
                          tr(data-status='cancelado')
                            td
                              .ckbox
                                input#checkbox2(type='checkbox')
                                label(for='checkbox2')
                            td
                              a.star(href='javascript:;')
                                i.glyphicon.glyphicon-star
                            td
                              .media
                                a.pull-left(href='#')
                                  img.media-photo(src='https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg')
                                .media-body
                                  span.media-meta.pull-right Febrero 13, 2016
                                  h4.title
                                    | Lorem Impsum
                                    span.pull-right.cancelado (Cancelado)
                                  p.summary Ut enim ad minim veniam, quis nostrud exercitation...
                          tr.selected(data-status='pagado')
                            td
                              .ckbox
                                input#checkbox4(type='checkbox', checked='')
                                label(for='checkbox4')
                            td
                              a.star.star-checked(href='javascript:;')
                                i.glyphicon.glyphicon-star
                            td
                              .media
                                a.pull-left(href='#')
                                  img.media-photo(src='https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg')
                                .media-body
                                  span.media-meta.pull-right Febrero 13, 2016
                                  h4.title
                                    | Lorem Impsum
                                    span.pull-right.pagado (Pagado)
                                  p.summary Ut enim ad minim veniam, quis nostrud exercitation...
                          tr(data-status='pendiente')
                            td
                              .ckbox
                                input#checkbox5(type='checkbox')
                                label(for='checkbox5')
                            td
                              a.star(href='javascript:;')
                                i.glyphicon.glyphicon-star
                            td
                              .media
                                a.pull-left(href='#')
                                  img.media-photo(src='https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg')
                                .media-body
                                  span.media-meta.pull-right Febrero 13, 2016
                                  h4.title
                                    | Lorem Impsum
                                    span.pull-right.pendiente (Pendiente)
                                  p.summary Ut enim ad minim veniam, quis nostrud exercitation...
