extends template-child.jade
block content
  .container.wrapper_login
    .row
      .container-fluid
        h2
          | เข้าสู่ระบบ&nbsp;
          span AOL&nbsp;
          | PROPERTY
        .wrapper_inner
          form.form-horizontal(name="form_login", id="form_login", action="", method="post", encrytion="", autocomplete="false", data-toggle="validator", role="form")
            .form-group
              .col-md-offset-4.col-md-4
                a.btn.btn-facebook(href="#", title="ลืมรหัสผ่าน")
                  i.fa.fa-facebook &nbsp;&nbsp;
                  | LOGIN WITH FACEBOOK
            hr
            .form-group
              label.col-md-4.control-label(for="username") EMAIL :
              .col-md-4
                input.form-control(name="email", type="email", id="email", placeholder="AOLPROPERTY@AOLPROPERTY.COM", data-error="กรุณากรอกอีเมล์ หรือชื่อผู้ใช้งานให้ถูกต้อง" required)
                span.glyphicon.form-control-feedback(aria-hidden="true")
                .help-block.with-errors
            .form-group
              label.col-md-4.control-label(for="username") PASSWORD :
              .col-md-4
                input.form-control(name="password", type="password", id="password", placeholder="********", data-error="กรุณารหัสผ่านให้ถูกต้อง" required)
                span.glyphicon.form-control-feedback(aria-hidden="true")
                .help-block.with-errors
            .form-group
              .col-md-offset-4.col-md-4
                a.btn-links(href="forgotpassword.html", title="ลืมรหัสผ่าน") ลืมรหัสผ่าน
            .form-group
              .col-md-offset-4.col-md-4
                input(type="hidden", name="action", value="action_login")
                button.btn.btn-lg.btn-main(type="submit") เข้าสู่ระบบ
        // END Wrapper
        .col-md-offset-4.col-md-6
          p
            | หากคุณยัังไม่เป็นสมาชิกกับเรา โปรดทำการ &nbsp;
            a.btn-links(href="register.html", title="") สมัครสมาชิกใหม่
