extends template-cms-inside.jade
block content
	.container.wrapper_breadcrumbs
		.row
			.container-fluid
				.btn-group.btn-breadcrumb
					a.btn.btn-default(href='index.html')
						i.glyphicon.glyphicon-home
					a.btn.btn-default(href='news.html') ข่าวสาร
					a.btn.btn-default(href='#') เทรนด์ลงทุนอสังหาริมทรัพย์ 2559
	// END BREADCRUMBS

	.clearfix
	.container.wrapper_content
		.row
			.container-fluid
				h2
					| เทรนด์ลงทุนอสังหาริมทรัพย์ 2559
				section.row
					// CONTENT
					.col-xs-12.col-sm-8.col-md-9
						p
							img.img-responsive(src='../template/assets/images/news.jpg')
						p
							| 1. การลงทุนในอสังหาริมทรัพย์ อาจจะยังไม่คึกคัก
							| โดยมองว่าผู้ประกอบการพัฒนาอสังหาริมทรัพย์ยังคงต้องให้น้ำหนักในการทำตลาดระบายที่อยู่อาศัยสร้างเสร็จรอขายในตลาด
							| โดยแม้ว่าตลาดจะได้รับปัจจัยหนุนจากมาตรการกระตุ้นอสังหาริมทรัพย์เข้ามาช่วยเป็นเครื่องมือในการระบายที่อยู่อาศัยเหลือขายก็ตาม

						p
							| 2.   การลงทุนในอสังหาริมทรัพย์ที่อยู่อาศัยในต่างจังหวัดน่าจะยังชะลอตัวอยู่ในช่วง 1-2 ปีนี้ เนื่องจากเศรษฐกิจท้องถิ่นยังได้รับผลกระทบจากกิจกรรมเศรษฐกิจในภาคเกษตรกรรม

						p
							| 3. ขณะที่การลงทุนโครงการอสังหาริมทรัพย์ในเขตกรุงเทพฯและปริมณฑลนั้น แม้ว่าผู้ประกอบการจะยังให้น้ำหนักการลงทุนโครงการใหม่ในเขตกรุงเทพฯและปริมณฑลก็ตาม แต่คาดว่าการลงทุนน่าจะเต็มไปด้วยความท้าทายมากขึ้น

						p
							| 4. นอกเหนือจากเรื่องเศรษฐกิจและกำลังซื้อแล้ว ต้องยอมรับว่าตลาดอสังหาริมทรัพย์ที่อยู่อาศัยในเขตกรุงเทพฯและปริมณฑลมีการแข่งขันรุนแรง โดยการแข่งขันไม่เพียงจากผู้ประกอบการที่อยู่ในธุรกิจอสังหาริมทรัพย์มานานแล้ว แต่ในช่วงที่ผ่านมา ผู้ประกอบการธุรกิจอื่นๆ ก็ขยายฐานธุรกิจเข้ามาในธุรกิจอสังหาริมทรัพย์มากขึ้น ซึ่งผู้ประกอบการเหล่านี้มีความแข็งแกร่งทั้งด้านแหล่งเงินทุนและที่สำคัญเป็นเจ้าของที่ดินในทำเลศักยภาพ

						p
							| 5. ทิศทางตลาดที่อยู่อาศัยในกรุงเทพฯและปริมณฑลในปี 2559 นั้น ศูนย์วิจัยกสิกรไทย มองว่า ผู้ประกอบการยังให้น้ำหนักในกลุ่มโครงการคอนโดมิเนียม เนื่องจากปัจจัยในเรื่องของที่ดิน กฎหมายผังเมือง และโครงสร้างพื้นฐานด้านรถไฟฟ้า

						p
							| 6. ส่วนของกลุ่มลูกค้าเป้าหมายนั้น มองว่า ผู้ประกอบการยังคงให้ความสำคัญกับการทำตลาดที่อยู่อาศัยระดับบน แม้จะมีความท้าทายขึ้นจากการแข่งขันที่สูง เนื่องจากในปี 2558 ที่ผ่านมา ผู้ประกอบการให้ความสำคัญในการเปิดตัวโครงการระดับบนออกสู่ตลาดพร้อมกันหลายโครงการ

						p
							| 7. ปี 2558 ที่ผ่านมา การเปิดโครงการที่อยู่อาศัยในเขตกรุงเทพฯและปริมณฑลระดับราคา 10 ล้านบาทขึ้นไป เพิ่มขึ้นประมาณร้อยละ 85.0 เมื่อเทียบกับการเปิดตัวในปี 2557

						p
							| 8. การทำตลาดคงไม่ง่ายเหมือนปีที่ผ่านมา จากกลไกตลาดที่ได้ผลักดันทำให้ราคาต่อหน่วยขยับตัวสูงขึ้นอย่างรวดเร็ว ขณะที่กลุ่มลูกค้าระดับบนในประเทศมีฐานตลาดที่จำกัด ผู้ประกอบการต้องพึ่งกำลังซื้อจากลูกค้าชาวต่างชาติซึ่งมีต้นทุนการตลาดที่สูงขึ้น แต่คงปฏิเสธไม่ได้ว่าตลาดบนยังเป็นตลาดที่มีความเสี่ยงน้อยท่ามกลางภาวะแวดล้อมทางธุรกิจที่ยังมีความเสี่ยง ทำให้ในปีนี้ผู้ประกอบการยังคงให้ความสนใจกับตลาดระดับบน

						p
							| 9. สำหรับตลาดที่อยู่อาศัยระดับกลาง-ล่าง แม้จะได้รับอานิสงส์จากมาตรการกระตุ้นอสังหาริมทรัพย์ในส่วนของมาตรการภาษีสำหรับผู้ซื้อที่อยู่อาศัยหลังแรกไม่เกิน 3 ล้านบาท ซึ่งอาจจะช่วยกระตุ้นในส่วนของการลงทุนตลาดบ้านแนวราบ เช่น ทาวน์เฮ้าส์ในระดับราคาไม่เกิน 3 ล้านบาทและสามารถสร้างเสร็จภายใน 1 ปีก็ตาม แต่คาดว่าการลงทุนโครงการใหม่ๆ ในกลุ่มนี้น่าจะยังไม่คึกคัก เนื่องจากตลาดยังมีอุปทานรอขายในกลุ่มนี้สะสมในตลาดจำนวนหนึ่ง

						p
							span ที่มา : ศูนย์วิจัยกสิกรไทย
					// END CONTENT

					// WIDGET
					include partials/widget.jade
					// END WIDGET
	//END WRAPPER
