extends template-member.jade
block content
  .container.wrapper_login
    .row
      .container-fluid
        h2
          | ข้อมูลส่วนตัว : &nbsp;
          i.fa.fa-user-circle-o &nbsp;
          | WITTAWAT KITTIWARABUD
        .wrapper_inner
          .row
            // SIDEBAR
            include partials/sidebar.jade
            // END SIDEBAR

            // CONTENT
            .col-xs-12.col-sm-8.col-md-9
              form.form-horizontal(name="form_profile", action="", method="post", encrytion="", autocomplete="false")
                .form-group
                  label.col-md-4.control-label(for="username") อีเมล์
                    span.text-warning *  :
                  .col-md-4
                    input.form-control(name="email", type="email", id="email", placeholder="AOLPROPERTY@AOLPROPERTY.COM", required)
                .form-group
                  label.col-md-4.control-label(for="username") รหัสผ่าน
                    span.text-warning *  :
                  .col-md-4
                    input.form-control(name="password", type="password", id="password", placeholder="********", required)
                .form-group
                  label.col-md-4.control-label(for="username") ยืนยันรหัสผ่าน
                    span.text-warning *  :
                  .col-md-4
                    input.form-control(name="cf_password", type="password", id="cf_password", placeholder="********", required)
                hr
                // END USERNAME
                .form-group
                  label.col-md-4.control-label(for="username") ชื่อ นามสกุล
                    span.text-warning *  :
                  .col-md-4
                    input.form-control(name="fullname", type="text", id="fullname", placeholder="ชื่อ-นามสกุล", required)
                .form-group
                  label.col-md-4.control-label(for="username") ที่อยู่ :
                  .col-md-4
                    input.form-control(name="address", type="text", id="address")
                .form-group
                  label.col-md-4.control-label(for="username") จังหวัด
                    span.text-warning *  :
                  .col-md-4
                    select.form-control(name="provinces_id", id="provinces_id", required)
                      option(value="") จังหวัด
                .form-group
                  label.col-md-4.control-label(for="username") อำเภอ/เขต :
                  .col-md-4
                    select.form-control(name="distinct_id", id="distinct_id")
                      option(value="") อำเภอ/เขต
                .form-group
                  label.col-md-4.control-label(for="username") ตำบล/แขวง :
                  .col-md-4
                    select.form-control(name="sub_distinct_id", id="sub_distinct_id")
                      option(value="") ตำบล/แขวง
                .form-group
                  label.col-md-4.control-label(for="username") รหัสไปรษณีย์ :
                  .col-md-4
                    input.form-control(name="zipcodes", type="text", id="zipcodes", maxlength="5")
                hr
                // END USERNAME
                .form-group
                  .col-md-offset-4.col-md-4
                    input(type="hidden", name="action", value="action_profile")
                    button.btn.btn-lg.btn-main(type="button") แก้ไขข้อมูลส่วนตัว


            // END CONTENT
