extends template-cms.jade
block content
	.container.wrapper_breadcrumbs
		.row
			.container-fluid
				.btn-group.btn-breadcrumb
					a.btn.btn-default(href='index.html')
						i.glyphicon.glyphicon-home
					a.btn.btn-default(href='#') โครงการ

	.clearfix
	.container.wrapper_content
		.row
			.container-fluid
				h2
					| โครงการใหม่แนะนำ
				.row
					.col-md-6
						.wrapper_youtube
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/500x300/000000/ffffff?text=400X200", alt="")
					.col-md-6
						h3
							a(href="project-detail.html", title="") ซีเซ็นคอนโด บางเสร่
						p
							span
								| - 10 มกราคม 2560
						p.inner
							| SEA ZEN (ซี เซน) เป็นคอนโดมิเนียม ตั้งอยู่บน ซอย เทพประสิทธิ์ 9 เมืองพัทยา อำเภอ บางละมุง ชลบุรี 20150 ซี เซน ปัจจุบันยังอยู่ในระหว่างการก่อสร้างซึ่งคาดว่าจะแล้วเสร็จในปี 2017 คอนโดนี้ มี 2 อาคาร จำนวน 7 ชั้น และ รวมทั้งหมด 156 ยูนิต
						.items-carousel
							.wrapper
								a(href="project-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
								h5
									a(href="project-detail.html", title="")
										| Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)
							.wrapper
								a(href="project-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
								h5
									a(href="project-detail.html", title="")
										| Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)
							.wrapper
								a(href="project-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
								h5
									a(href="project-detail.html", title="")
										| Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)
							.wrapper
								a(href="project-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
								h5
									a(href="project-detail.html", title="")
										| Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)
							.wrapper
								a(href="project-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
								h5
									a(href="project-detail.html", title="")
										| Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)

	// END content

	.clearfix
	.container.wrapper_highlight
		.row
			.container-fluid
				.row
					.col-md-12
						.pull-left
							h2 โครงการ
						.pull-right
							form.form-inline(name="from_filter", method="post", action="")
								.form-group
									select.form-control(name="", id="")
										option(value="") ประเภทการขาย
										option(value="") ขาย
										option(value="") เช่า
										option(value="") ขายเช่า
								.form-group
									select.form-control(name="", id="")
										option(value="") ประเภทอสังหา
										option(value="") คอนโด
										option(value="") ทาวน์โฮม
										option(value="") ที่ดิน
								.form-group
									select.form-control(name="", id="")
										option(value="") จัดเรียงตาม
										option(value="") ราคามากสุด-ต่ำสุด
										option(value="") ราคาต่ำสุด-มากสุด
										option(value="") ยอดนิยม
										option(value="") มาใหม่
								.form-group
									input(type="hidden", name="action")
									button.btn.btn-main(type='submit',name='search') ค้นหา

				section.row
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
	//END CONTENT
