extends template-cms-inside.jade
block content
	.container.wrapper_breadcrumbs
		.row
			.container-fluid
				.btn-group.btn-breadcrumb
					a.btn.btn-default(href='index.html')
						i.glyphicon.glyphicon-home
					a.btn.btn-default(href='property.html') โครงการ
					a.btn.btn-default(href='property.html?type=sale') ขาย
					a.btn.btn-default(href='#') ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
	// END BREADCRUMBS

	.clearfix
	.container.wrapper_content
		.row
			.container-fluid
				h2
					| ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
				section.row
					// CONTENT
					.col-md-12
						.wrapper
							section.property-slider-top
								div
									a(href="#", title="")
										img(src="http://placehold.it/1200x400?text=1200x400")
								div
									a(href="#", title="")
										img(src="http://placehold.it/1200x400?text=1200x400")
								div
									a(href="#", title="")
										img(src="http://placehold.it/1200x400?text=1200x400")
								div
									a(href="#", title="")
										img(src="http://placehold.it/1200x400?text=1200x400")
								div
									a(href="#", title="")
										img(src="http://placehold.it/1200x400?text=1200x400")
								div
									a(href="#", title="")
										img(src="http://placehold.it/1200x400?text=1200x400")

							.clearfix
							section.property-slider-bottom
								div
									a(href="#", title="")
										img(src="http://placehold.it/330x100?text=330x100")
								div
									a(href="#", title="")
										img(src="http://placehold.it/330x100?text=330x100")
								div
									a(href="#", title="")
										img(src="http://placehold.it/330x100?text=330x100")
								div
									a(href="#", title="")
										img(src="http://placehold.it/330x100?text=330x100")
								div
									a(href="#", title="")
										img(src="http://placehold.it/330x100?text=330x100")
								div
									a(href="#", title="")
										img(src="http://placehold.it/330x100?text=330x100")
					// END SLIDE IMAGE
				// END ROW

	.clearfix
	.container.wrapper_inner.inside
		.row
			.container-fluid
				.clearfix
				section
					// CONTENT
					.col-md-12
						.row
							.col-xs-12.col-sm-8.col-md-9
								.post-details
									.row
										.col-md-9
											.post-big
												h1
													| คอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
										.col-md-3
											.post-price
												| 1,291,000 บาท
								// END POST DETAILS

								.clearfix
								.post-decription
									.row
										.col-md-9
											.post-name
												p
													span คอนโด - &nbsp;
													strong ขายขาด
											.post-address
												p
													span Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ
												p
													span 88 ตารางเมตร  142,045 บาท / ตารางเมตร
										.col-md-3
											.post-mortgage
												span จำนอง 6,970 บาท/เดือน
											.post-room
												span 2 &nbsp;
													i.fa.fa-bed &nbsp;&nbsp;
												span 2 &nbsp;
													i.fa.fa-bath
								// END POST DESCRIPTION

								.clearfix
								.post-ultility
									.row
										.col-md-6
											.row
												.col-md-6
													label
														| ประเภท
												.col-md-6
													span
														| คอนโดมีเนียม - ขายขาด

										.col-md-6
											.row
												.col-md-6
													label
														| การถือครองสิทธิ์
												.col-md-6
													span
														| ขายขาด
									// END ROW

									.clearfix
									.row
										.col-md-6
											.row
												.col-md-6
													label
														| ขนาด
												.col-md-6
													span
														| 80 ตารางเมตร

										.col-md-6
											.row
												.col-md-6
													label
														| เจ้าของโครงการ
												.col-md-6
													span
														| แลนด์ แอน เฮ้าส์
									// END ROW

									.clearfix
									.row
										.col-md-6
											.row
												.col-md-6
													label
														| ขนาดที่ดิน
												.col-md-6
													span
														| -

										.col-md-6
											.row
												.col-md-6
													label
														| เฟอร์นิเจอร์
												.col-md-6
													span
														| ตกแต่งครบ
									// END ROW

									.clearfix
									.row
										.col-md-6
											.row
												.col-md-6
													label
														| ราคาต่อ ตร.ม.
												.col-md-6
													span
														| 100,000 บาท / ตร.ม.

										.col-md-6
											.row
												.col-md-6
													label
														| ชั่น
												.col-md-6
													span
														| 17
									// END ROW

									.clearfix
									.row
										.col-md-6
											.row
												.col-md-6
													label
														| ปีที่สร้างเสร็จ
												.col-md-6
													span
														| มกราคมม 2560

										.col-md-6
											.row
												.col-md-6
													label
														| ลงประกาศเมื่อ
												.col-md-6
													span
														| 4 ชั่วโมงที่ผ่านมา
									// END ROW

									.clearfix
									.row
										.col-md-6
											.row
												.col-md-6
													label
														| รหัสประกาศ
												.col-md-6
													span
														| ID000192

										.col-md-6
											.row
												.col-md-6
													label
														| อื่นๆ
												.col-md-6
													span
														| -
									// END ROW
								// END POST ULTILITY
							// END COLUMNS LEFT
							.col-xs-12.col-sm-4.col-md-3
								.well.text-center
									p
										img.img-responsive.center-block(src="http://placehold.it/200x200?text=200x200")
									p
										ประกาศจาก : นายวิทวัต กิตติวรบุตร
									ul.clearfix.list-unstyled
										li
											a(href="tel:0970011614")
												| 097 001 1614
										li
											a(href="tel:0631875099")
												| 063 187 5099
								// END WELL
							// END COLUMNS RIGHT

						hr
						.post-specials
							h4
								| สิ่งอำนวยความสะดวก

							.clearfix
							.row.post-space
								.col-sm-12.col-md-3
									label
										| จุดเด่น
								.col-sm-12.col-md-9
									.clearfix
									.row.post-columns
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| เครืองปรับอากาศ
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| ระเบียง
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| บรรไดเลื่อน
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| ห้องรับแขก
									// END ROW

									.clearfix
									.row.post-columns
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| อ่างอาบน้ำ
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| เครื่องดูดควัน
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| ฮีทเตอร์
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| เครื่องปรับอากาศ
									// END ROW

									.clearfix
									.row.post-columns
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| ทีวี
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| เครื่องซักผ้า
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| โซฟา
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| ตู้เสื้อผ้า
									// END ROW
							// END ROW

							.clearfix
							.row.post-space
								.col-sm-12.col-md-3
									label
										| สิ่งอำนวยความสะดวก
								.col-sm-12.col-md-9
									.clearfix
									.row.post-columns
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| ฟิตเนส
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| สระว่ายน้ำ
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| ลานจอดรถ
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| สนามเด็กเล่น
									// END ROW

									.clearfix
									.row.post-columns
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| มินิมาร์ท
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| ร้านกาแฟ DIRO
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| ฮีทเตอร์
										.col-xs-6.col-sm-4.col-md-3
											span
												i.fa.fa-check &nbsp;
												| อื่นๆ
									// END ROW
							// END ROW



						// END POST SPECIALS
						hr
						.post-maps
							h4
								| ทำเลที่ตั้งและสถานที่ใกล้เคียง
							.post-media
								iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15501.554135471539!2d100.622189!3d13.7554276!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0100b33d0b3830!2sRajamangala+National+Stadium!5e0!3m2!1sen!2sth!4v1485502300153', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')

						// END POST MAPS
						hr
						.post-form
							h4.post-space
								| ติดต่อเจ้าของประกาศ
							.row
								.col-sm-8.col-md-9
									form.form-horizontal(action="", name="form_contact", method="post")
										.form-group
											label.col-sm-2.control-label(for='fullname') ชื่อ
											.col-sm-10
												input#fullname.form-control(type='text', name="fullname", placeholder='ชื่อ-นามสกุล', value="", required)
										.form-group
											label.col-sm-2.control-label(for='inputPassword3') หมายเลขโทรศัพท์
											.col-sm-10
												input#telephone.form-control(type='text', name="telephone", placeholder='หมายเลขโทรศัพท์', value="", required)
										.form-group
											label.col-sm-2.control-label(for='inputEmail3') อีเมล
											.col-sm-10
												input#email.form-control(type='email', name="email", placeholder='อีเมล', value="", required)
										.form-group
											label.col-sm-2.control-label(for='inputEmail3') ข้อความ
											.col-sm-10
												textarea#message.form-control(name="message", rows="4")
										.form-group
											.col-sm-offset-2.col-sm-10
												input(type='hidden', name="action", value="action_contact")
												button.btn.btn-main(type='submit') ส่งข้อความ
									//END FORM
								// END COLUMN LEFT
								.col-sm-4.col-md-3
									.well.text-center
										p
											img.img-responsive.center-block(src="http://placehold.it/200x200?text=200x200")
										p
											ประกาศจาก : นายวิทวัต กิตติวรบุตร
										ul.clearfix.list-unstyled
											li
												a(href="tel:0970011614")
													| 097 001 1614
											li
												a(href="tel:0631875099")
													| 063 187 5099
									// END WELL
								// END COLUMN RiGHT



						// END POST FORM
						hr
						.post-related
						// END POST RELATED

					// END CONTENT

				// END ROW
	//END WRAPPER
