extends template-cms.jade
block content
  .container.wrapper_breadcrumbs
    .row
      .container-fluid
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href='index.html')
            i.glyphicon.glyphicon-home
          a.btn.btn-default(href='#') ค้นหา

  .container.wrapper_content
    .row
      .container-fluid
        .row
          .col-md-12
            h2
              | ผลการค้นหา :
              span &nbsp;ขาย, คอนโดริชพาร์คแอท, เจ้าพระยา, วิวแม่น้ำเจ้าพระยา


        .wrapper_inner
          .post-list
            .row
              .col-sm-12.col-md-3
                a(href="property-detail.html", title="")
                  img.img-responsive(src="http://placehold.it/400x250/000000/ffffff?text=400x250")
              .col-sm-12.col-md-9
                .row
                  // Left
                  .col-sm-12.col-md-9
                    .post-title
                      h3
                        a(href="property-detail.html", title="")
                          strong
                            | ขาย
                            คอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
                    .post-name
                      p
                        span คอนโด - &nbsp;
                        strong ขายขาด
                    .post-address
                      p
                        span Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ
                      p
                        span 88 ตารางเมตร  142,045 บาท / ตารางเมตร
                  // Right
                  .col-sm-12.col-md-3
                    .post-price
                      strong 1,291,000 บาท
                    .post-mortgage
                      span จำนอง 6,970 บาท/เดือน
                    .post-room
                      span 2 &nbsp;
                        i.fa.fa-bed &nbsp;&nbsp;
                      span 2 &nbsp;
                        i.fa.fa-bath
                  // Bottom
                  .col-md-12.post-bottom
                    .row
                      .col-sm-6.col-md-7
                        .post-from
                          span ประกาศจาก :&nbsp;
                          strong บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด
                      .col-sm-6.col-md-5
                        .post-links
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-phone
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-comment
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-heart
          //END ROW

          .post-list
            .row
              .col-sm-12.col-md-3
                a(href="board-detail.html", title="")
                  img.img-responsive(src="http://placehold.it/400x400?text=400X400")
              .col-sm-12.col-md-9
                .row
                  // Left
                  .col-sm-12.col-md-12
                    .post-name
                      span ประกาศจาก :
                      strong นายวิทวัต กิตติวรบุตร
                    .post-title
                      h3
                        a(href="board-detail.html", title="") ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ

                  // Bottom
                  .col-md-12.post-bottom
                    .row
                      .col-sm-6.col-md-7
                        .post-from
                          a.btn-a(href="board-detail.html", title="") ติดต่อผู้ประกาศ
                      .col-sm-6.col-md-5
                        .post-link
                          span.btn-a 2 คำตอบ | &nbsp;
                          span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์
          //END ROW
          .post-list
            .row
              .col-sm-12.col-md-3
                a(href="property-detail.html", title="")
                  img.img-responsive(src="http://placehold.it/400x250/000000/ffffff?text=400x250")
              .col-sm-12.col-md-9
                .row
                  // Left
                  .col-sm-12.col-md-9
                    .post-title
                      h3
                        a(href="property-detail.html", title="") ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
                    .post-name
                      p
                        span คอนโด - &nbsp;
                        strong ขายขาด
                    .post-address
                      p
                        span Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ
                      p
                        span 88 ตารางเมตร  142,045 บาท / ตารางเมตร
                  // Right
                  .col-sm-12.col-md-3
                    .post-price
                      strong 1,291,000 บาท
                    .post-mortgage
                      span จำนอง 6,970 บาท/เดือน
                    .post-room
                      span 2 &nbsp;
                        i.fa.fa-bed &nbsp;&nbsp;
                      span 2 &nbsp;
                        i.fa.fa-bath
                  // Bottom
                  .col-md-12.post-bottom
                    .row
                      .col-sm-6.col-md-7
                        .post-from
                          span ประกาศจาก :&nbsp;
                          strong บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด
                      .col-sm-6.col-md-5
                        .post-links
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-phone
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-comment
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-heart
          //END ROW
          .post-list
            .row
              .col-sm-12.col-md-3
                a(href="board-detail.html", title="")
                  img.img-responsive(src="http://placehold.it/400x400?text=400X400")
              .col-sm-12.col-md-9
                .row
                  // Left
                  .col-sm-12.col-md-12
                    .post-name
                      span ประกาศจาก :
                      strong นายวิทวัต กิตติวรบุตร
                    .post-title
                      h3
                        a(href="board-detail.html", title="") ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ

                  // Bottom
                  .col-md-12.post-bottom
                    .row
                      .col-sm-6.col-md-7
                        .post-from
                          a.btn-a(href="board-detail.html", title="") ติดต่อผู้ประกาศ
                      .col-sm-6.col-md-5
                        .post-link
                          span.btn-a 2 คำตอบ | &nbsp;
                          span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์
          //END ROW
          .post-list
            .row
              .col-sm-12.col-md-3
                a(href="property-detail.html", title="")
                  img.img-responsive(src="http://placehold.it/400x250/000000/ffffff?text=400x250")
              .col-sm-12.col-md-9
                .row
                  // Left
                  .col-sm-12.col-md-9
                    .post-title
                      h3
                        a(href="property-detail.html", title="") ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
                    .post-name
                      p
                        span คอนโด - &nbsp;
                        strong ขายขาด
                    .post-address
                      p
                        span Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ
                      p
                        span 88 ตารางเมตร  142,045 บาท / ตารางเมตร
                  // Right
                  .col-sm-12.col-md-3
                    .post-price
                      strong 1,291,000 บาท
                    .post-mortgage
                      span จำนอง 6,970 บาท/เดือน
                    .post-room
                      span 2 &nbsp;
                        i.fa.fa-bed &nbsp;&nbsp;
                      span 2 &nbsp;
                        i.fa.fa-bath
                  // Bottom
                  .col-md-12.post-bottom
                    .row
                      .col-sm-6.col-md-7
                        .post-from
                          span ประกาศจาก :&nbsp;
                          strong บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด
                      .col-sm-6.col-md-5
                        .post-links
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-phone
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-comment
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-heart
          //END ROW
          .post-list
            .row
              .col-sm-12.col-md-3
                a(href="property-detail.html", title="")
                  img.img-responsive(src="http://placehold.it/400x250/000000/ffffff?text=400x250")
              .col-sm-12.col-md-9
                .row
                  // Left
                  .col-sm-12.col-md-9
                    .post-title
                      h3
                        a(href="property-detail.html", title="") ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
                    .post-name
                      p
                        span คอนโด - &nbsp;
                        strong ขายขาด
                    .post-address
                      p
                        span Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ
                      p
                        span 88 ตารางเมตร  142,045 บาท / ตารางเมตร
                  // Right
                  .col-sm-12.col-md-3
                    .post-price
                      strong 1,291,000 บาท
                    .post-mortgage
                      span จำนอง 6,970 บาท/เดือน
                    .post-room
                      span 2 &nbsp;
                        i.fa.fa-bed &nbsp;&nbsp;
                      span 2 &nbsp;
                        i.fa.fa-bath
                  // Bottom
                  .col-md-12.post-bottom
                    .row
                      .col-sm-6.col-md-7
                        .post-from
                          span ประกาศจาก :&nbsp;
                          strong บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด
                      .col-sm-6.col-md-5
                        .post-links
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-phone
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-comment
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-heart
          //END ROW
          .post-list
            .row
              .col-sm-12.col-md-3
                a(href="property-detail.html", title="")
                  img.img-responsive(src="http://placehold.it/400x250/000000/ffffff?text=400x250")
              .col-sm-12.col-md-9
                .row
                  // Left
                  .col-sm-12.col-md-9
                    .post-title
                      h3
                        a(href="property-detail.html", title="") ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
                    .post-name
                      p
                        span คอนโด - &nbsp;
                        strong ขายขาด
                    .post-address
                      p
                        span Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ
                      p
                        span 88 ตารางเมตร  142,045 บาท / ตารางเมตร
                  // Right
                  .col-sm-12.col-md-3
                    .post-price
                      strong 1,291,000 บาท
                    .post-mortgage
                      span จำนอง 6,970 บาท/เดือน
                    .post-room
                      span 2 &nbsp;
                        i.fa.fa-bed &nbsp;&nbsp;
                      span 2 &nbsp;
                        i.fa.fa-bath
                  // Bottom
                  .col-md-12.post-bottom
                    .row
                      .col-sm-6.col-md-7
                        .post-from
                          span ประกาศจาก :&nbsp;
                          strong บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด
                      .col-sm-6.col-md-5
                        .post-links
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-phone
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-comment
                          a.btn.btn-wishlist(href="#", title="")
                            | ลบจากรายการโปรด
          //END ROW
          .post-list
            .row
              .col-sm-12.col-md-3
                a(href="property-detail.html", title="")
                  img.img-responsive(src="http://placehold.it/400x250/000000/ffffff?text=400x250")
              .col-sm-12.col-md-9
                .row
                  // Left
                  .col-sm-12.col-md-9
                    .post-title
                      h3
                        a(href="property-detail.html", title="") ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
                    .post-name
                      p
                        span คอนโด - &nbsp;
                        strong ขายขาด
                    .post-address
                      p
                        span Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ
                      p
                        span 88 ตารางเมตร  142,045 บาท / ตารางเมตร
                  // Right
                  .col-sm-12.col-md-3
                    .post-price
                      strong 1,291,000 บาท
                    .post-mortgage
                      span จำนอง 6,970 บาท/เดือน
                    .post-room
                      span 2 &nbsp;
                        i.fa.fa-bed &nbsp;&nbsp;
                      span 2 &nbsp;
                        i.fa.fa-bath
                  // Bottom
                  .col-md-12.post-bottom
                    .row
                      .col-sm-6.col-md-7
                        .post-from
                          span ประกาศจาก :&nbsp;
                          strong บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด
                      .col-sm-6.col-md-5
                        .post-links
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-phone
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-comment
                          a.btn.btn-wishlist(href="#", title="")
                            | ลบจากรายการโปรด
          //END ROW
        // END Wrapper
