doctype html
html(lang="en" dir="ltr")
  block head
    include partials/header.jade
  body
    block menus
      include partials/menu.jade

    block slider
      include partials/slider.jade

    block content

    block bottom
      include partials/bottom.jade

    block footer
      include partials/footer.jade
