extends template-cms-inside.jade
block content
	.container.wrapper_breadcrumbs
		.row
			.container-fluid
				.btn-group.btn-breadcrumb
					a.btn.btn-default(href='index.html')
						i.glyphicon.glyphicon-home
					a.btn.btn-default(href='video.html') วีดีโอ
					a.btn.btn-default(href='#') เทรนด์ลงทุนอสังหาริมทรัพย์ 2559
	// END BREADCRUMBS

	.clearfix
	.container.wrapper_content
		.row
			.container-fluid
				h2
					| เทรนด์ลงทุนอสังหาริมทรัพย์ 2559
				section.row
					// CONTENT
					.col-md-12
						.wrapper_youtube
							iframe.embed-responsive-item(src="https://www.youtube.com/embed/wxhepFUNVq4", width="100%", height="400", frameborder="0", allowfullscreen)
					.col-md-12
						.post-content
							p
								strong
									| รายละเอียด
							p
								| 1. การลงทุนในอสังหาริมทรัพย์ อาจจะยังไม่คึกคัก
								| โดยมองว่าผู้ประกอบการพัฒนาอสังหาริมทรัพย์ยังคงต้องให้น้ำหนักในการทำตลาดระบายที่อยู่อาศัยสร้างเสร็จรอขายในตลาด
								| โดยแม้ว่าตลาดจะได้รับปัจจัยหนุนจากมาตรการกระตุ้นอสังหาริมทรัพย์เข้ามาช่วยเป็นเครื่องมือในการระบายที่อยู่อาศัยเหลือขายก็ตาม
					// END CONTENT

	//END WRAPPER
