extends template-cms.jade
block content
	.container.wrapper_breadcrumbs
		.row
			.container-fluid
				.btn-group.btn-breadcrumb
					a.btn.btn-default(href='index.html')
						i.glyphicon.glyphicon-home
					a.btn.btn-default(href='#') วีดีโอ

	.clearfix
	.container.wrapper_content
		.row
			.container-fluid
				h2
					| วีดีโอข่าวสารอสังหาริมทรัพย์ แนะนำ
				.row
					.col-md-6
						.wrapper_youtube
							iframe.embed-responsive-item(src="https://www.youtube.com/embed/wxhepFUNVq4", width="100%", height="282", frameborder="0", allowfullscreen)
					.col-md-6
						h3
							a(href="video-detail.html", title="") เทรนด์การลงทุนปี 2560
						p
							span
								| - 10 มกราคม 2560
						p.inner
							| Lorem ipsum dolor sit amet, ad tation bonorum est, at quem doming civibus has. Ridens saperet vivendo eu mel Lorem ipsum dolor sit amet, ad tation bonorum est, at quem doming civibus has. Ridens saperet vivendo eu mel Lorem ipsum dolor sit amet,

	// END content

	.clearfix
	.container.wrapper_highlight
		.row
			.container-fluid
				.row
					.col-md-12
						.pull-left
							h2 รายการวีดีโอ
						.pull-right
							form.form-inline(name="from_filter", method="post", action="")
								.form-group
									select.form-control(name="", id="")
										option(value="") จัดเรียงตาม
										option(value="") ใหม่ล่าสุด
										option(value="") ข่าวย้อนหลัง
										option(value="") อ่านมากที่สุด
										option(value="") อ่านน้อยที่สุด
								.form-group
									input(type="hidden", name="action")
									button.btn.btn-main(type='submit',name='search') ค้นหา

				section.row
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=VIDEO")
						h4
							a(href="video-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
					// END WRAPPER

					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=VIDEO")
						h4
							a(href="video-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
					// END WRAPPER

					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=VIDEO")
						h4
							a(href="video-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
					// END WRAPPER

					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=VIDEO")
						h4
							a(href="video-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
					// END WRAPPER
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=VIDEO")
						h4
							a(href="video-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
					// END WRAPPER

					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=VIDEO")
						h4
							a(href="video-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
					// END WRAPPER

					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=VIDEO")
						h4
							a(href="video-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
					// END WRAPPER

					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="video-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=VIDEO")
						h4
							a(href="video-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
					// END WRAPPER

	//END CONTENT
