@charset "UTF-8";
/* Developer : Wittawat Kittiwarabut
 * Nickname : bluenarysun
 * Email : Tee.emilond@gmail.com
 * several lines long.
 * since it uses the CSS comment syntax,
 * it will appear in the CSS output. */
@import url("https://fonts.googleapis.com/css?family=Kanit:400,500,700,900");
@font-face {
  font-family: Kanit;
  src: url("../fonts/Kanit-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: Kanit;
  src: url("../fonts/Kanit-Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: Kanit;
  src: url("../fonts/Kanit-Light.ttf");
  font-weight: 100; }

@font-face {
  font-family: Kanit;
  src: url("../fonts/Kanit-Medium.ttf");
  font-weight: 200; }

@font-face {
  font-family: Kanit;
  src: url("../fonts/Kanit-Black.ttf");
  font-weight: 900; }

@font-face {
  font-family: Kanit;
  src: url("../fonts/Kanit-SemiBold.ttf");
  font-weight: 700; }

body {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #010101;
  background-color: #ffffff; }

a {
  color: #003168; }
  a:hover {
    color: #444444; }

a.readmore {
  color: #717171; }
  a.readmore:hover {
    color: #444444; }

span {
  font-weight: 100; }

.wrapper_inner {
  border-top: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
  padding: 2em 0;
  margin-bottom: 2em; }
  .wrapper_inner.inside {
    border: 0;
    padding: 1em 0; }
    .wrapper_inner.inside label {
      font-weight: 100;
      color: #717171; }
    .wrapper_inner.inside .post-form h4,
    .wrapper_inner.inside .post-maps h4,
    .wrapper_inner.inside .post-specials h4 {
      color: #003168; }
  .wrapper_inner .post-big h1 {
    font-size: 1.2em;
    font-weight: 100;
    color: #003168; }
  .wrapper_inner .post-list {
    margin-bottom: 0.1em;
    padding: 1.2em 0;
    border-bottom: 1px solid #bcbcbc; }
    .wrapper_inner .post-list:last-child {
      border-bottom: 0; }
  .wrapper_inner .post-bottom {
    margin-top: 1.5em; }
  .wrapper_inner .post-address span,
  .wrapper_inner .post-address strong,
  .wrapper_inner .post-name span,
  .wrapper_inner .post-name strong,
  .wrapper_inner .post-room span,
  .wrapper_inner .post-room strong {
    color: #717171; }
  .wrapper_inner .post-from span {
    color: #717171; }
  .wrapper_inner .post-from strong {
    color: #010101; }
  .wrapper_inner .post-decription {
    margin-bottom: 1em; }
  .wrapper_inner .post-space {
    margin-bottom: 0.8em; }
  .wrapper_inner .post-columns {
    margin-bottom: 0.4em; }
  @media (min-width: 992px) {
    .wrapper_inner .post-big h1 {
      margin-top: 0;
      margin-bottom: 0; }
    .wrapper_inner .post-links,
    .wrapper_inner .post-mortgage,
    .wrapper_inner .post-price,
    .wrapper_inner .post-room {
      text-align: right; }
    .wrapper_inner .post-address p,
    .wrapper_inner .post-name p {
      margin-bottom: 5px; }
    .wrapper_inner .post-price {
      margin-bottom: 10px; }
    .wrapper_inner .post-decription {
      margin-bottom: 2em; } }
  @media (min-width: 1200px) {
    .wrapper_inner .post-list .post-title h3 {
      margin-top: 0;
      margin-bottom: 0.2em; } }

.wrapper_content {
  margin-top: 1em; }
  .wrapper_content p span {
    color: #717171; }
  .wrapper_content .post-content {
    margin-top: 1.2em; }
  @media (min-width: 1200px) {
    .wrapper_content {
      margin-top: 0.8em; }
      .wrapper_content h2 {
        margin-top: 0;
        margin-bottom: 1em;
        padding-bottom: 0; }
      .wrapper_content h3 {
        margin: 0; }
      .wrapper_content .inner {
        margin: 1em 0; } }

.wrapper_filter {
  margin-top: 1em;
  margin-bottom: 1em; }
  @media (min-width: 992px) {
    .wrapper_filter {
      margin-top: 2em;
      margin-bottom: 1em; } }

.wrapper_subcontent {
  margin-top: 1em; }
  .wrapper_subcontent h3 {
    font-size: 1em; }
  .wrapper_subcontent .expert_inner {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #bcbcbc; }
  @media (min-width: 992px) {
    .wrapper_subcontent h3 {
      margin-top: 0;
      margin-bottom: 5px; }
    .wrapper_subcontent p {
      margin-bottom: 0; } }
  @media (min-width: 1200px) {
    .wrapper_subcontent {
      margin-top: 0.8em; } }

.wrapper_widget .wrapper_related {
  margin-bottom: 0.8em; }
  .wrapper_widget .wrapper_related h4 {
    background-color: #003168;
    color: #ffffff; }

.wrapper_widget ul {
  background-color: #eeeeee; }
  .wrapper_widget ul > li {
    border-bottom: 1px solid #bcbcbc; }
    .wrapper_widget ul > li:last-child {
      border-bottom: 0; }

.wrapper_widget p span {
  color: #717171; }

@media (min-width: 1200px) {
  .wrapper_widget .wrapper_related h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.8em;
    vertical-align: middle; }
  .wrapper_widget ul {
    background-color: #eeeeee; }
    .wrapper_widget ul > li {
      padding: 0.8em; }
  .wrapper_widget h3 {
    margin: 0; }
  .wrapper_widget .inner {
    margin: 1em 0; } }

.wrapper_youtube .items-carousel .wrapper {
  padding-right: 1em; }

@media (min-width: 992px) {
  .wrapper_wishlist h2 {
    margin-top: 0; } }

.wrapper {
  overflow: hidden; }

.wrapper_banner {
  margin-top: 0.8em;
  margin-bottom: 0.8em; }
  @media (min-width: 992px) {
    .wrapper_banner {
      margin-top: 1em;
      margin-bottom: 1em; } }

.nav > li > a {
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #010101; }

.navbar-toggle {
  background-color: #222222;
  border: 1px solid #222222; }
  .navbar-toggle .icon-bar {
    border: 1px solid #eeeeee; }

.navbar-collapse {
  position: relative;
  padding-top: 30px !important;
  max-height: 270px; }
  .navbar-collapse form[role="search"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 0; }
  .navbar-collapse form[role="search"] button {
    padding: 8px 12px;
    border-radius: 0;
    border-width: 0;
    color: #010101;
    box-shadow: none;
    outline: none; }
  .navbar-collapse form[role="search"] input {
    padding: 8px 12px;
    border-radius: 0;
    border-width: 0;
    color: #010101;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    box-shadow: none;
    outline: none; }
  .navbar-collapse form[role="search"] input {
    padding: 16px 12px;
    font-size: 14pt;
    font-style: italic;
    color: #a0a0a0;
    box-shadow: none; }
  .navbar-collapse form[role="search"] button[type="reset"] {
    display: none; }
  .navbar-collapse form[role="search"].active button {
    background-color: #003168;
    color: #ffffff; }

@media (min-width: 768px) {
  .navbar {
    padding: 10px 0;
    margin-bottom: 0; }
  .navbar-collapse {
    padding-top: 0 !important;
    padding-right: 38px !important; }
  .navbar-collapse form[role="search"] {
    width: auto; }
  .navbar-collapse form[role="search"] button,
  .navbar-collapse form[role="search"] input {
    padding: 15px 12px; }
  .navbar-collapse form[role="search"] input {
    padding: 25px 12px;
    font-size: 18pt;
    opacity: 0;
    display: none; }
  .navbar-collapse form[role="search"].active {
    width: 100%; }
  .navbar-collapse form[role="search"].active button,
  .navbar-collapse form[role="search"].active input {
    display: table-cell;
    opacity: 1; }
  .navbar-collapse form[role="search"].active input {
    width: 100%; }
  .navbar-right {
    margin-right: 0; }
  .navbar-collapse form[role="search"].active .input-group .input-group-btn {
    width: 1%; }
  .navbar-brand {
    position: relative;
    z-index: 99; } }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-right {
    float: left !important; } }

.well_header {
  background-color: #eeeeee;
  background-image: none !important;
  border: 0;
  box-shadow: none; }
  @media (min-width: 1200px) {
    .well_header .row-bottom .form-group {
      margin-bottom: 0; } }

/**
 *
 * slippry v1.4.0 - Responsive content slider for jQuery
 * http://slippry.com
 *
 * Authors: Lukas Jakob Hafner - @saftsaak
 *          Thomas Hurd - @SeenNotHurd
 *
 * Copyright 2016, booncon oy - http://booncon.com
 *
 *
 * Released under the MIT license - http://opensource.org/licenses/MIT
 */
/* kenBurns animations, very basic */
@keyframes left-right {
  0% {
    transform: translateY(-20%) translateX(-10%); }
  100% {
    transform: translateY(0%) translateX(10%); } }

@keyframes right-left {
  0% {
    transform: translateY(0%) translateX(10%); }
  100% {
    transform: translateY(-20%) translateX(-10%); } }

/* added to the original element calling slippry */
.sy-box.sy-loading {
  background: url("../../assets/images/sy-loader.gif") 50% 50% no-repeat;
  background-size: 32px;
  min-height: 40px; }
  .sy-box.sy-loading .sy-slides-wrap, .sy-box.sy-loading .sy-pager {
    visibility: hidden; }

/* element that wraps the slides */
.sy-slides-wrap {
  position: relative;
  height: 100%;
  width: 100%; }
  .sy-slides-wrap:hover .sy-controls {
    display: block; }

/* element that crops the visible area to the slides */
.sy-slides-crop {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden; }

/* list containing the slides */
.sy-list {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute; }
  .sy-list.horizontal {
    transition: left ease; }
  .sy-list.vertical {
    transition: top ease; }

/* single slide */
.sy-slide {
  position: absolute;
  width: 100%;
  z-index: 2; }
  .sy-slide.kenburns {
    width: 140%;
    left: -20%; }
    .sy-slide.kenburns.useCSS {
      transition-property: opacity; }
      .sy-slide.kenburns.useCSS.sy-ken:nth-child(1n) {
        animation-name: left-right;
        animation-fill-mode: forwards; }
      .sy-slide.kenburns.useCSS.sy-ken:nth-child(2n) {
        animation-name: right-left;
        animation-fill-mode: forwards; }
  .sy-slide.sy-active {
    z-index: 3; }
  .sy-slide > img {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: 0; }
  .sy-slide > a {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%; }
    .sy-slide > a > img {
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;
      border: 0; }

/* next/ prev buttons, with arrows and clickable area a lot larger than the visible buttons */
.sy-controls {
  display: none;
  list-style: none;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0; }
  .sy-controls li {
    position: absolute;
    width: 10%;
    min-width: 4.2em;
    height: 100%;
    z-index: 33; }
    .sy-controls li.sy-prev {
      left: 0;
      top: 0; }
      .sy-controls li.sy-prev a:after {
        background-position: -5% 0; }
    .sy-controls li.sy-next {
      right: 0;
      top: 0; }
      .sy-controls li.sy-next a:after {
        background-position: 105% 0; }
    .sy-controls li a {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      text-indent: -9999px; }
      .sy-controls li a:link, .sy-controls li a:visited {
        opacity: 0.4; }
      .sy-controls li a:hover, .sy-controls li a:focus {
        opacity: 0.8;
        outline: none; }
      .sy-controls li a:after {
        content: "";
        background-image: url("../../assets/images/arrows.svg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        text-indent: 0;
        line-height: 2.8em;
        color: #111;
        font-weight: 800;
        position: absolute;
        background-color: #fff;
        width: 2.8em;
        height: 2.8em;
        left: 50%;
        top: 50%;
        margin-top: -1.4em;
        margin-left: -1.4em;
        border-radius: 50%; }
  @media only screen and (max-device-width: 600px) {
    .sy-controls {
      display: block; }
      .sy-controls li {
        min-width: 2.1em; }
        .sy-controls li a:after {
          width: 1.4em;
          height: 1.4em;
          margin-top: -0.7em;
          margin-left: -0.7em; } }

/* captions, styled fo the overlay variant */
.sy-caption-wrap {
  position: absolute;
  bottom: 2em;
  z-index: 12;
  left: 50%; }
  .sy-caption-wrap .sy-caption {
    position: relative;
    left: -50%;
    background-color: rgba(0, 0, 0, 0.54);
    color: #fff;
    padding: 0.4em 1em;
    border-radius: 1.2em; }
    .sy-caption-wrap .sy-caption a:link, .sy-caption-wrap .sy-caption a:visited {
      color: #e24b70;
      font-weight: 600;
      text-decoration: none; }
    .sy-caption-wrap .sy-caption a:hover, .sy-caption-wrap .sy-caption a:focus {
      text-decoration: underline; }
  @media only screen and (max-device-width: 600px), screen and (max-width: 600px) {
    .sy-caption-wrap {
      left: 0;
      bottom: 0.4em; }
      .sy-caption-wrap .sy-caption {
        left: 0;
        padding: 0.2em 0.4em;
        font-size: 0.92em;
        border-radius: 0; } }

/* pager bubbles */
.sy-pager {
  clear: both;
  display: block;
  width: 100%;
  margin: 1em 0 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .sy-pager li {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin: 0 1em 0 0;
    border-radius: 50%; }
    .sy-pager li.sy-active a {
      background-color: #e24b70; }
    .sy-pager li a {
      width: 100%;
      height: 100%;
      display: block;
      background-color: #ccc;
      text-indent: -9999px;
      background-size: 2em;
      border-radius: 50%; }
      .sy-pager li a:link, .sy-pager li a:visited {
        opacity: 1.0; }
      .sy-pager li a:hover, .sy-pager li a:focus {
        opacity: 0.6; }

/* element to "keep/ fill" the space of the content, gets intrinsic height via js */
.sy-filler {
  width: 100%; }
  .sy-filler.ready {
    transition: padding 600ms ease; }

.panel-search .wrapper_search {
  background: #003168;
  padding: 10px; }

.panel-search .btn {
  background-color: #ffffff;
  color: #003168; }

.panel-search h3 {
  color: #010101; }

@media (min-width: 1200px) {
  .panel-search {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    z-index: 99; }
    .panel-search .wrapper_search {
      background: rgba(255, 255, 255, 0.2);
      opacity: 0.9;
      padding: 20px 15px 5px; }
    .panel-search .btn {
      background-color: #003168;
      color: #ffffff; }
    .panel-search h3 {
      color: #ffffff; } }

.wrapper_home {
  margin-top: 10px; }
  .wrapper_home .section {
    margin-top: 10px; }
  .wrapper_home .wrapper_post {
    margin-bottom: 1.5em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #222222; }
    .wrapper_home .wrapper_post .post-name {
      font-size: 0.8em; }
      .wrapper_home .wrapper_post .post-name span {
        color: #717171; }
      .wrapper_home .wrapper_post .post-name strong {
        color: #010101; }
    .wrapper_home .wrapper_post .post-title h3 {
      font-size: 1em; }
    .wrapper_home .wrapper_post .post-link a, .wrapper_home .wrapper_post .post-link .btn-a {
      font-size: 0.8em;
      color: #666666; }
  @media (min-width: 1200px) {
    .wrapper_home {
      margin-top: 40px; }
      .wrapper_home h2 {
        margin: 0; }
      .wrapper_home .section {
        margin-top: 20px; }
      .wrapper_home .wrapper_post {
        border: 0;
        padding: 0; }
        .wrapper_home .wrapper_post .post-title h3 {
          margin: 5px 0 8px; } }

.wrapper_highlight {
  margin-top: 20px; }
  .wrapper_highlight p span {
    color: #717171;
    font-size: 0.8em; }
  .wrapper_highlight .highlight-carousel {
    margin-top: 1em; }
    .wrapper_highlight .highlight-carousel .wrapper p span {
      color: #717171;
      font-size: 0.8em; }
    .wrapper_highlight .highlight-carousel .wrapper .highlight-text {
      font-size: 1em;
      font-weight: 100; }
  @media (min-width: 992px) {
    .wrapper_highlight .form-group {
      margin-bottom: 0; }
    .wrapper_highlight h2 {
      margin-top: 0;
      margin-bottom: 1em; } }
  @media (min-width: 1200px) {
    .wrapper_highlight {
      margin-top: 40px; }
      .wrapper_highlight h3 {
        margin: 0; }
      .wrapper_highlight .wrapper {
        margin-bottom: 0.8em; } }

.wrapper_video {
  margin-top: 20px; }
  .wrapper_video section {
    margin-bottom: 10px; }
  .wrapper_video p span {
    color: #fff; }
  @media (min-width: 1200px) {
    .wrapper_video {
      margin-top: 40px; }
      .wrapper_video h3 {
        margin: 0; }
      .wrapper_video .inner {
        margin: 30px 0 20px; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-slider.property-slider-bottom {
  margin-top: 1.6em; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

/* the slides */
.slick-slide {
  margin: 0 10px; }

/* the parent */
.slick-list {
  margin: 0 -10px; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../images/sy-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 10; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: 0px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: 0px; }
  [dir="rtl"] .slick-next {
    left: 0px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

footer {
  padding-top: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
  background-color: #222222;
  color: #ffffff; }
  footer h5 {
    font-size: 1em;
    font-weight: 100; }
  footer ul li a {
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 100; }
    footer ul li a:hover {
      color: #666666; }
  footer .wrapper_enewsletter,
  footer .wrapper_contactus {
    margin-bottom: 2em; }
    footer .wrapper_enewsletter h5,
    footer .wrapper_contactus h5 {
      margin-bottom: 15px; }
  @media (min-width: 1200px) {
    footer {
      padding-top: 20px;
      margin-top: 40px; } }

.copyright {
  background-color: #eeeeee;
  padding: 10px 0 0; }

.btn {
  border: 0 !important; }

.btn-main {
  background-color: #003168;
  color: #ffffff; }
  .btn-main:hover {
    color: #ffffff;
    background-color: #444444; }

.btn-facebook {
  background-color: #3b5998;
  color: #ffffff; }
  .btn-facebook:hover {
    color: #ffffff;
    background-color: #8b9dc3; }

.btn-icon {
  background-color: #dddddd;
  color: #999999;
  margin: 0 .2em; }
  .btn-icon:hover {
    color: #ffffff;
    background-color: #bcbcbc; }

.btn-wishlist {
  background-color: #b20000;
  color: #ffffff;
  margin: 0 0 0 .2em; }
  .btn-wishlist:hover {
    color: #ffffff;
    background-color: #eb0000; }

/** The Magic **/
/** The Magic **/
.btn-breadcrumb .btn {
  background-image: none;
  box-shadow: none;
  padding: 6px 12px 6px 24px; }
  .btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3; }
  .btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid #adadad;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3; }
  .btn-breadcrumb .btn:first-child {
    padding: 6px 6px 6px 10px;
    margin-right: 1px; }
  .btn-breadcrumb .btn:last-child {
    padding: 6px 18px 6px 24px;
    margin-left: 0px; }
  .btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff; }
  .btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc; }
  .btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #e0e0e0; }

/** The Spacing **/
/** Default button **/
/** The Spacing **/
/** Default button **/
.pagination li a {
  color: #003168; }

.pagination li:first-child a, .pagination li:last-child a {
  color: #ffffff;
  background-color: #003168; }
  .pagination li:first-child a:hover, .pagination li:last-child a:hover {
    background-color: #444444; }

h2 span {
  color: #003168; }

.expert a {
  color: #717171;
  font-size: 0.8em; }
  .expert a:hover {
    color: #444444;
    text-decoration: none; }

.price {
  color: #010101;
  font-size: 1em; }

.panel-default > .panel-heading {
  color: #010101;
  background-color: #eeeeee;
  background-image: none !important;
  border-radius: 0; }

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
  transition: background-color .3s ease; }
  .panel .btn-group {
    margin: 15px 0 30px; }
    .panel .btn-group .btn {
      transition: background-color .3s ease; }

.table-filter {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee; }

.table-filter tbody tr:hover {
  cursor: pointer;
  background-color: #eeeeee; }

.table-filter tbody tr td {
  vertical-align: middle;
  border-top-color: #eeeeee; }

.table-filter tbody tr.selected td {
  background-color: #eeeeee; }

.table-filter tr td:first-child {
  width: 38px; }

.table-filter tr td:nth-child(2) {
  width: 35px; }

.ckbox {
  position: relative; }

.ckbox input[type="checkbox"] {
  opacity: 0; }

.ckbox label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.ckbox label:before {
  content: '';
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #eeeeee;
  background-color: #ffffff; }

.ckbox input[type="checkbox"]:checked + label:before {
  border-color: #003168;
  background-color: #003168; }

.ckbox input[type="checkbox"]:checked + label:after {
  top: 3px;
  left: 3.5px;
  content: '\e013';
  color: #ffffff;
  font-size: 11px;
  font-family: 'Glyphicons Halflings';
  position: absolute; }

.table-filter .star {
  color: #bcbcbc;
  text-align: center;
  display: block; }

.table-filter .star.star-checked {
  color: #F0AD4E; }

.table-filter .star:hover {
  color: #bcbcbc; }

.table-filter .star.star-checked:hover {
  color: #F0AD4E; }

.table-filter .media-photo {
  width: 35px; }

.table-filter .media-body {
  /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */ }

.table-filter .media-meta {
  color: #999; }

.table-filter .media .title {
  color: #003168;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  margin: 0; }

.table-filter .media .title span {
  margin-right: 20px; }

.table-filter .media .title span.pagado {
  color: #5cb85c; }

.table-filter .media .title span.pendiente {
  color: #f0ad4e; }

.table-filter .media .title span.cancelado {
  color: #d9534f; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.col-left,
.col-right {
  float: none; }

@media (min-width: 1200px) {
  .col-left {
    float: left; }
  .col-right {
    float: right; } }
